
@{
    ViewBag.Title = "Admin Dashboard";
}

<div>Welcome Mr. Admin</div>
@*<ul>
    <li>
        Control Panel
    </li>
</ul>
<ul>
    <li>
        Inventory
    </li>
    
</ul>
<ul>
    <li>
        Production
    </li>
    <li>
        <a href="/Production/ProductionBeltConfig">
            Production Belt Config
        </a>
    </li>
    <li>
        <a href="/Production/GetStickerOneData">
            Stricker One
        </a>
    </li>
</ul>
<ul>
    <li>
        Sales & Distribution
    </li>
    <li>
        <a href="/SalesAndDistribution/DealerOperations">
            Dealer Operations
        </a>
    </li>
    <li>
        <a href="/SalesAndDistribution/SROperations">
            SR Operations
        </a>
    </li>
    <li>
        <a href="/SalesAndDistribution/VerificationOfDPO">
            Verification
        </a>
    </li>
    <li>
        <a href="/SalesAndDistribution/ApprovalOfDPO">
            Approval
        </a>
    </li>
</ul>*@




