
@{
    ViewBag.Title = "Your access is denied";
}

<div class="error-page">
    <h2 class="headline text-danger"><i class="fas fa-ban fa-2x"></i></h2>
    <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Your access is denied.</h3>
        <p>
            Sorry you do not have permission to access.
            Please contact to admin or you may <a href="#">return to dashboard</a>.
        </p>
    </div>
</div>

