
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @*<div style="text-align:center; height: 200px; width: 500px; margin-bottom:5px">
            <canvas id="Piecanvas"/>*@
            @*<div id="chartContainerRM" style="height: 200px; width: 500px; margin-bottom:5px">
            </div>*@
            <canvas id="lineChart" height="150" width="200"></canvas>

        </div>
        <div class="col-md-6">
            @*<div style="text-align:center; height: 200px; width: 500px; margin-bottom:5px">
            <canvas id="Piecanvas"/>*@
            @*<div id="chartContainerRM" style="height: 200px; width: 500px; margin-bottom:5px">
            </div>*@
            <canvas id="FGChart" height="97" width="150"></canvas>

        </div>
    </div>
    @*<div class="col-md-6">
            <div id="chartContainerFG" style="height: 200px; width: 500px; margin-bottom:5px">
            </div>
        </div>*@
</div>
@*<div class="row ">
        <div class="col-md-6">
            <div id="chartContainer" style="height: 200px; width: 500px;">
            </div>
        </div>
        <div class="col-md-6">
            <div id="chartContainerCollection" style="height: 200px; width: 500px;">
            </div>
        </div>
    </div>*@

@*<div class="row " style="margin-top: 10px">
    </div>*@
@*</div>*@

@*<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>*@
@*<script type="text/javascript" src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js">
    </script>*@
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script type="text/javascript">
    $(function () {
        debugger;
        //var labels = '<%=TempData["platform_family"] %>';
        var labels = '@TempData["platform_family"]';
        var datas = '@TempData["CurrentStock"]';
        var labelsArray = new Array();
        var dataArray = new Array();
        for (var i = 0; i < labels.split(',').length; i++) {
            labelsArray.push(labels.split(',')[i]);
            dataArray.push(datas.split(',')[i]);
        }
        var ctx1 = document.getElementById("lineChart").getContext('2d');
        var lineChart = new Chart(ctx1, {
            type: 'bar',

            data: {
                labels: labelsArray,
                labelFontColor: "red",
                color:'#3EB9DC',
                datasets: [{
                    label: 'Raw Material Current Stock',

                    //backgroundColor: '#3EB9DC',
                    backgroundColor: [
                        "#f990a7",
                        "#aad2ed",
                        "#9966FF",
                        "#99e5e5",
                        "#f7bd83",
                        "#A52A2A",
                        "#DC143C",
                        "#FFA500 "
                    ],
                    data: dataArray
                }]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: "white",
                        fontSize: 18
                    }
                },
                //tooltips: { mode: 'index', intersect: false },
                responsive: true,
                scales: {

                    yAxes: [{
                        ticks: {
                            fontColor: "white",
                            fontSize: 18,
                            stepSize: 1,
                            beginAtZero: true
                        }
                    }],

                    //xAxes: [{ stacked: true }],
                    //xAxes: [{ stacked: true }],


                    xAxes: [{
                        ticks: {
                            fontColor: "white",
                            fontSize: 14,
                            stepSize: 1,
                            beginAtZero: true,
                            stacked: true
                        }
                    }],
                    yAxes: [{
                        //ticks: {
                        fontColor: "white",
                        fontSize: 14,
                        stepSize: 1,
                        beginAtZero: true,
                        stacked: true
                       // }
                    }]

                },
            }});
    });


    //fgstock
    $(function () {
        debugger;
        //var labels = '<%=TempData["platform_family"] %>';
        var labels = '@TempData["FG_NAME"]';
        var datas = '@TempData["CurrentStockF"]';
        var labelsArray = new Array();
        var dataArray = new Array();
        for (var i = 0; i < labels.split(',').length; i++) {
            labelsArray.push(labels.split(',')[i]);
            dataArray.push(datas.split(',')[i]);
        }
        var ctx1 = document.getElementById("FGChart").getContext('2d');
        var FGChart = new Chart(ctx1, {
            type: 'bar',

            data: {
                labels: labelsArray,
                labelFontColor: "red",
                color:'#3EB9DC',
                datasets: [{
                    label: 'FG PRoduct Current Stock',

                    //backgroundColor: '#3EB9DC',
                    backgroundColor: [
                        "#FFA500 ",
                        "#aad2ed",
                        "#9966FF",
                        "#99e5e5",
                        "#f7bd83",
                        "#A52A2A",
                        "#DC143C",
                       /* "#FFA500 "*/
                    ],
                    data: dataArray
                }]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: "white",
                        fontSize: 18
                    }
                },
                //tooltips: { mode: 'index', intersect: false },
                responsive: true,
                scales: {

                    yAxes: [{
                        ticks: {
                            fontColor: "white",
                            fontSize: 18,
                            stepSize: 1,
                            beginAtZero: true
                        }
                    }],

                    //xAxes: [{ stacked: true }],
                    //xAxes: [{ stacked: true }],


                    xAxes: [{
                        ticks: {
                            fontColor: "white",
                            fontSize: 14,
                            stepSize: 1,
                            beginAtZero: true,
                            stacked: true
                        }
                    }],
                    yAxes: [{
                        //ticks: {
                        fontColor: "white",
                        fontSize: 14,
                        stepSize: 1,
                        beginAtZero: true,
                        stacked: true
                       // }
                    }]

                },
            }});
    });


</script>
