
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h4 class="m-0 text-dark"><i class="fas fa-fire" style="color:#ff7615"></i> Dashboard</h4>
        <hr />
    </div>
</div>

