<div class="col-md-12">
    <table class="table table-responsive table-striped text-sm">
        <thead>
            <tr class="btn-dark">
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>

        </tbody>

    </table>

</div>
