@{
    ViewBag.Title = "CreateRegion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card card-gray shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3">
                        <a href="/AgroConfiguration/Regionlist" class="float-left btn btn-sm btn-outline-primary" title="Go To List">
                            <i class="fas fa-arrow-alt-circle-left"></i>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-center text-bold">Create Region</h5>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>

            <div class="card-body text-sm">
                <div class="row " style="margin-top:-8px;">
                    @*<div class="col-md-2">
                        <label for="ddlorgname" class="control-label">OrganizationName</label>
                        @Html.DropDownList("ddlorgname", (IEnumerable<SelectListItem>)ViewBag.ddlorgname, "Select OrgName", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                        <span class="error hide required-OrganizationName font-weight-bold">Input OrganizatinName!</span>
                    </div>*@

                    <div class="col-md-2">
                        <label for="ddldivname" class="control-label">DivisionName</label>
                        @Html.DropDownList("ddldivname", (IEnumerable<SelectListItem>)ViewBag.ddldivname, "Select Division Name", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                        <span class="error hide required-DivisionName font-weight-bold">Input DivisionName!</span>

                    </div>

                  
                    <div class="col-md-2">
                        <label for="ddlRegionName" class="control-label">RegionName</label>
                        <input type="text" id="ddlRegionName" class="form-control form-control-sm" />
                        <span class="error hide required-RegionName font-weight-bold">Input Region Name!</span>
                        <span class="error hide required-RegionName font-weight-bold">Already RegionName Exist!</span>
                    </div>
                    
                    <div class="col-md-1 " style="margin-top:5px;">
                        <label for="addButton" class="control-label"></label>
                        <div class="clearfix">
                            <button type="submit" class="btn btn-outline-primary float-left " id="addButton" title="Add To List"><i class="fas fa-plus"></i> Add</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-sm text-sm table-responsive-lg" id="tblSingleItems">
                            <thead>
                                <tr>
                                    <th colspan="9">
                                        <button class="btn btn-outline-success btn-sm float-lg-left mt-2" id="saveButton">SAVE <i class="fas fa-paper-plane"></i></button>
                                    </th>
                                </tr>

                                <tr class="text-center btn-dark">
                                    <th style="width:5%">#SL</th>
                                    <th style="width:10%">DivisionName</th>
                                    <th style="width:10%">Region Name</th>
                                  
                                    <th style="width:5%">Action</th>
                                    <th class="hide ddldivname"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>


@section scripts{

    <script type="text/javascript">

        //var ddlorgname = $("#ddlorgname");
        var ddldivname = $("#ddldivname");
        var ddlRegionName = $("#ddlRegionName");
       
        var regionNameList = [];


        $(document).ready(function () {
            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });

           
        })
       //change zone
        //$('#ddlzonename').change(function () {

        //    let zid = $("#ddlzonename option:selected").val();
        //    console.log(zid);
        //    debugger;

        //    var data = { id: TryParseInt( zid,0) };
        //    console.log(data);
        //    //alert(data);

        //    $.when(getReqWithData(dataType.html, type.get, '/AgroConfiguration/getdiv', data)).then(function (res,status) {
        //        //alert("here me");
        //        console.log(res);
        //        console.log('status');
        //        console.log(status);
        //        var res1 = JSON.parse(res);
        //        console.log(res1.flag);
        //        if (res1.flag === "1") {
        //            //alert("here me 2");
        //            $.each(res1.data, function (i, obj) {
        //                debugger;
        //                console.log(i);
        //                console.log(obj.Value);
        //                console.log(obj.Text);
        //                let s = '<option value="' + obj.Value + '">' + obj.Text + '</option>';
        //                $('#ddldivname').append(s);
        //            });
        //        }

        //    }).fail(function (error) {
        //        console.log(error);
        //    })


        //});



        //add
        $("#addButton").click(function (e) {
            //alert();
            debugger;
            e.preventDefault();


            if (ValidationForm() == true) {
            if (regionNameList.includes(ddlRegionName.val())) {
                toastrErrorAlert("Region Name Already Exist");
            }
            else {
                var sl = $("#tblSingleItems tbody tr").length;
                var td1 = "<td class='text-center'><b>" + (sl + 1) + "</b></td>"
                var td2 = "<td class='text-center'>" + dropDownSelectedText("ddldivname") + "</td>";
                var td3 = "<td class='text-center'>" + ddlRegionName.val() + "</td>";
              

                var td4 = "<td class='text-center'><a href='#' class='btn btn-sm btn-danger data-onfly-del'><i class='far fa-trash-alt'></i> Delete</a></td>";

                var td5 = "<td class='text-center hide'>" + ddldivname.val() + "</td>";

                var tr = "<tr>" + td1 + td2 + td3 + td4 + td5  +"</tr>";

                $("#tblSingleItems tbody").append(tr);
                regionNameList.push(ddlRegionName.val());
                }
            }
        })



        //remove
        $(document).on("click", "a.data-onfly-del", function (e) {
            //debugger;
            e.preventDefault();
            var index = $(this).parent().parents('tbody tr').index();
            var tds = $(this).parent().parents('tbody tr').children('td');

            var rznId = tds.eq(7).html();
            console.log("rznId :" + rznId);
            const mid = regionNameList.indexOf(rznId);
            regionNameList.splice(mid, 1);




            removeTableRow("#tblSingleItems tbody", index);
            fnFixTheTbodyRowSerial("#tblSingleItems tbody", index);
        })




        //save
        $("#saveButton").click(function (e) {
            //alert();
            debugger;
            e.preventDefault();
  
            var details = [];
            details.length = 0;
            $.each($("#tblSingleItems tbody tr"), function (index, item) {
                var tds = $(this).children('td');
                details.push({

                    RegionId: 0,
                    RegionName: tds.eq(2).html(),
                    //RegionAsignName: tds.eq(4).html(),
                    //MobileNumber: tds.eq(5).html(),
                    //Remarks: tds.eq(6).html(),
                    //ZoneId: tds.eq(8).html(),
                    DivisionId: tds.eq(4).html(),
                    

                });
            })
            console.log(details);
            var data = JSON.stringify({ details: details });

            $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/SaveRegionInfo', data, getToken())).then(function (res, status) {
                if (res === true) {
                    debugger;
                    $('.toastrDefaultSuccess').trigger('click');
                    setTimeout(function () {
                        redirectPage('@Url.Action("Regionlist")');
                    }, 1000);
                }
                else {
                    $('.toastrDefaultError').trigger('click');
                }
                enable("#saveButton");
            }).fail(function (error) {
                alert(execuStatus.fail);
                enable("#saveButton");
            })

            function redirectPage(page) {
                window.location.replace(page);
            }

        });


        //validation
        function ValidationForm() {
            debugger;
            Isvalid = true;
            $('.error').addClass("hide");
            //if ($.trim(ddlorgname.val()) == 0) {
            //    $('.required-OrganizationName').removeClass("hide");
            //    Isvalid = false;
            //}
            if ($.trim(ddldivname.val()) == 0) {
                $('.required-DivisionName').removeClass("hide");
                Isvalid = false;
            }
            if ($.trim(ddlRegionName.val()) == 0) {
                $('.required-RegionName').removeClass("hide");
                Isvalid = false;
            }

            return Isvalid

        }

    </script>
}

