@{
    ViewBag.Title = "CreateZone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card card-gray shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3">
                        <a href="/AgroConfiguration/Zonelist" class="float-left btn btn-sm btn-outline-primary" title="Go To List">
                            <i class="fas fa-arrow-alt-circle-left"></i>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-center text-bold">Create Zone</h5>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>

            <div class="card-body text-sm">
                <div class="row " style="margin-top:-8px;">
                    <div class="col-md-2">
                        <label for="ddlorgname" class="control-label">OrganizationName</label>
                        @Html.DropDownList("ddlorgname", (IEnumerable<SelectListItem>)ViewBag.ddlorgname, "Select OrgName", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                        <span class="error hide required-OrganizationName font-weight-bold">Input OrganizatinName!</span>
                    </div>
                    <div class="col-md-2">
                        <label for="ddlZoneName" class="control-label">ZoneName</label>
                        <input type="text" id="ddlZoneName" class="form-control form-control-sm" />
                        <span class="error hide required-ZoneName font-weight-bold">Input Zone Name!</span>
                        <span class="error hide duplicate-ZoneName font-weight-bold">Already ZoneName Exist!</span>
                    </div>
                    
                    <div class="col-md-1 " style="margin-top:5px;">
                        <label for="addButton" class="control-label"></label>
                        <div class="clearfix">
                            <button type="submit" class="btn btn-outline-primary float-left " id="addButton" title="Add To List"><i class="fas fa-plus"></i> Add</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-sm text-sm table-responsive-lg" id="tblSingleItems">
                            <thead>
                                <tr>
                                    <th colspan="9">
                                        <button class="btn btn-outline-success btn-sm float-lg-left mt-2" id="saveButton">SAVE <i class="fas fa-paper-plane"></i></button>
                                    </th>
                                </tr>

                                <tr class="text-center btn-dark">
                                    <th style="width:5%">#SL</th>
                                    <th style="width:15%">ORGNAME</th>
                                    <th style="width:15%">Zone Name</th>
                                    <th style="width:10%">Action</th>
                                    @*<th class="hide hdzonetId"></th>*@
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>



        </div>
    </div>

</div>








@section scripts{

    <script type="text/javascript">


        //value asign
        //var hdzonetId = $("#hdzonetId");
        var ddlorgname = $("#ddlorgname");
        var ddlZoneName = $("#ddlZoneName");
        //var ddlRemarks = $("#ddlRemarks");
        //var ddlAMobilenum = $("#ddlAMobilenum");
        //var ddlZoneAsign = $("#ddlZoneAsign");
        var zoneNameList = [];

        //select2
        $(document).ready(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
        })




        //add
        $("#addButton").click(function (e) {
            //alert();
            //debugger;
            e.preventDefault();


             
            if (zoneNameList.includes(ddlZoneName.val())) {
                toastrErrorAlert("Zone Name Already Exist");
            }
            else {
                var sl = $("#tblSingleItems tbody tr").length;
                var td1 = "<td class='text-center'><b>" + (sl + 1) + "</b></td>"
                var td2 = "<td class='text-center'>" + dropDownSelectedText("ddlorgname") + "</td>";
                var td3 = "<td class='text-center'>" + ddlZoneName.val() + "</td>";               
                var td4 = "<td class='text-center'><a href='#' class='btn btn-sm btn-danger data-onfly-del'><i class='far fa-trash-alt'></i> Delete</a></td>";


                var tr = "<tr>" + td1 + td2 + td3 + td4 + "</tr>";

                $("#tblSingleItems tbody").append(tr);
                zoneNameList.push(ddlZoneName.val());



            }

        })



        //remove
        $(document).on("click", "a.data-onfly-del", function (e) {
            debugger;
            e.preventDefault();
            var index = $(this).parent().parents('tbody tr').index();
            var tds = $(this).parent().parents('tbody tr').children('td');

            var rawMaterialId = tds.eq(7).html();
            console.log("rawMaterialId :" + rawMaterialId);
            const mid = zoneNameList.indexOf(rawMaterialId);
            zoneNameList.splice(mid, 1);




            removeTableRow("#tblSingleItems tbody", index);
            fnFixTheTbodyRowSerial("#tblSingleItems tbody", index);
        })


        //save in database
        $("#saveButton").click(function (e) {
            debugger;
            e.preventDefault();
            //$(".error").addClass("hide");

            //var data = JSON.stringify({OrganizationId: TryParseInt(ddlorgname.val(), 0), ZoneName: ddlZoneName.val(), Remarks: ddlRemarks.val(), ZoneAsignName: ddlZoneAsign.val(), MobileNumber: ddlAMobilenum.val() });
            //console.log(data);
            var details = [];
            details.length = 0;
            $.each($("#tblSingleItems tbody tr"), function (index, item) {
                var tds = $(this).children('td');
                details.push({

                    ZoneId: 0,
                    ZoneName: tds.eq(2).html(),
                    //Remarks: tds.eq(5).html(),
                    //MobileNumber: tds.eq(4).html(),
                    //ZoneAsignName: tds.eq(3).html(),
                    OrganizationId: tds.eq(1).html()

                });
            })
            console.log(details);
            var data = JSON.stringify({ details: details });

            $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/SaveZonetInfo', data, getToken())).then(function (res, status) {
                if (res === true) {
                    debugger;
                    $('.toastrDefaultSuccess').trigger('click');
                    setTimeout(function () {
                        redirectPage('@Url.Action("Zonelist")');
                    }, 1000);
                }
                else {
                    $('.toastrDefaultError').trigger('click');
                }
                enable("#saveButton");
            }).fail(function (error) {
                alert(execuStatus.fail);
                enable("#saveButton");
            })


            




            function redirectPage(page) {
                window.location.replace(page);
            }

        });

    </script>
}
