@{
    ViewBag.Title = "CreateStockiest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="margin-top:-25px;">
    <div class="col-md-12">


        <div class="card card-navy">
            <div class="card-header" style="text-align: center;">

                <div class="row" @*style="margin-bottom:-7px"*@>
                    <div class="col-md-3">
                        <a href="/AgroConfiguration/GetStockiestList" class="float-left btn btn-sm btn-outline-primary" title="Go To List">
                            <i class="fas fa-arrow-alt-circle-left"></i>
                        </a>
                    </div>
                    <div class="col-md-6">


                        <h5 class="text-center text-bold">
                            Create Stockiest
                        </h5>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-success btn-sm btn float-right" id="saveButton">SAVE <i class="fas fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>
        </div>



        <div class="card-body text-sm">
            <div class="row " style="margin-top:-18px;">

                <div class="col-md-2">
                    <label for="ddlareaname" class="control-label">Area Name</label>
                    @Html.DropDownList("ddlareaname", (IEnumerable<SelectListItem>)ViewBag.ddlareaname, "Select Area", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                    <span class="error hide required-AreaName font-weight-bold">Select Area Name!</span>
                    <span class="error hide duplicate-AreaName font-weight-bold">Already Area Exist!</span>
                </div>


                <div class="col-md-2">
                    <label class="control-label" for="ddlTerritoryName">TerritoryName</label>
                    <select id="ddlTerritoryName" class="form-control form-control-sm select2">
                        <option value="0">Select Territory</option>
                    </select>
                    <span class="error hide required-TerritoryName font-weight-bold">Select Territory Name!</span>
                    <span class="error hide duplicate-TerritoryName font-weight-bold">Already Territory Exist!</span>
                </div>

                <div class="col-md-2">
                    <label for="txtStockiestName" class="control-label">StockiestName</label>
                    <input type="text" id="txtStockiestName" class="form-control form-control-sm" />
                    <span class="error hide required-StockiestName font-weight-bold">Input Stockiest Name!</span>
                    <span class="error hide duplicate-StockiestName font-weight-bold">Already Stockiest Exist!</span>
                </div>
                <div class="col-md-2">
                    <label for="txtStockiestAddress" class="control-label">Address</label>
                    <input type="text" id="txtStockiestAddress" class="form-control form-control-sm" />
                    <span class="error hide required-StockiestAddress font-weight-bold">Input Stockiest Address!</span>
                </div>
                <div class="col-md-2">
                    <label for="txtphonenmbr" class="control-label">Phone Number</label>
                    <input type="text" id="txtphonenmbr" class="form-control form-control-sm" />
                    <span class="error hide required-txtphonenmbr font-weight-bold">Input Stockiest Number!</span>

                </div>
                <div class="col-md-2">
                    <label for="txtemail" class="control-label">Email</label>
                    <input type="email" id="txtemail" class="form-control form-control-sm" />
                    <span class="error hide required-txtemail font-weight-bold">Input Stockiest Email!</span>

                </div>



            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="txttradelicense" class="control-label">Trade License</label>
                    <input type="text" id="txttradelicense" class="form-control form-control-sm" />
                    <span class="error hide required-txttradelicense font-weight-bold">Input Stockiest trade License!</span>
                </div>
                <div class="col-md-2">
                    <label for="txtnid" class="control-label">NID</label>
                    <input type="text" id="txtnid" class="form-control form-control-sm" />
                    <span class="error hide required-txtnid font-weight-bold">Input Stockiest Nid!</span>
                </div>
                <div class="col-md-2">
                    <label for="txtcontactperson" class="control-label">Contact Person</label>
                    <input type="text" id="txtcontactperson" class="form-control form-control-sm" />
                    <span class="error hide required-txtcontactperson font-weight-bold">Input Coatact person!</span>
                </div>
                <div class="col-md-2">
                    <label for="txtcontactpersonnmbr" class="control-label">Contact Person No</label>
                    <input type="text" id="txtcontactpersonnmbr" class="form-control form-control-sm" />
                    <span class="error hide required-txtcontactpersonnmbr font-weight-bold">Input Coatact person Number!</span>
                </div>
                <div class="col-md-1">
                    <label for="ddlcreditlimit" class="control-label">Status</label>
                    <select id="ddlcreditlimit" class="form-control form-control-sm select2" >
                        <option value="0">Select</option>
                        <option value="Active">Active</option>
                        <option value="InActive">InActive</option>
                    </select>
                    <span class="error hide req-ddlcreditlimit">Credit Limit Status Is Required</span>
                </div>
                <div class="col-md-2" id="txtclamount">
                    <label for="txtclamount" class="control-label">C.L Amount</label>
                    <input type="number" id="numclamountin" class="form-control form-control-sm" />
                    <span class="error hide required-txtclamount font-weight-bold">Input Credit Limit Amount!</span>
                </div>

                <div class="col-md-1">
                    <label for="" class="control-label font-weight-bold" style="visibility:hidden">Add</label>
                    <div class="clearfix">
                        <button type="submit" class="btn btn-sm float-right btn-outline-success" id="addButton"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>


        </div>

        <div class="row" style="margin-top:8px;">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-sm text-sm table-responsive-lg" id="tblMargeItems">
                    <thead>


                        <tr class="text-center btn-dark">
                            <th style="width:5%">#SL</th>
                            <th class="text-center" style="width:15%">Area</th>
                            <th style="width:15%">Territory</th>
                            <th style="width:15%">Stockiest</th>
                            <th style="width:15%">Address</th>
                            <th style="width:15%">Number</th>
                            <th style="width:10%">Status</th>
                            <th style="width:10%">Action</th>


                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>


    </div>

</div>


@section scripts{

<script type="text/javascript">

        var ddlOrganizationName = $("#ddlOrganizationName");
        var ddlTerritoryName = $("#ddlTerritoryName");
        var txtStockiestName = $("#txtStockiestName");
        var txtStockiestAddress = $("#txtStockiestAddress");
        var ddlareaname = $("#ddlareaname");
        var ddlcreditlimit = $("#ddlcreditlimit");
        var txtclamount = $("#txtclamount");
        var numclamountin = $("#numclamountin");

        var txtphonenmbr = $("#txtphonenmbr");
        var txtemail = $("#txtemail");
        var txttradelicense = $("#txttradelicense");
        var txtnid = $("#txtnid");
        var txtcontactperson = $("#txtcontactperson");
        var txtcontactpersonnmbr = $("#txtcontactpersonnmbr");



        var StockiestNameList = [];

        $(document).ready(function () {

            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            $("#txtclamount").hide();
        })




        //change Invoice
        $('#ddlareaname').change(function () {

            let Stkid = $("#ddlareaname option:selected").val();
              debugger;
            var data = { id: TryParseInt(Stkid, 0) };
            console.log(data);
            $.when(getReqWithData(dataType.html, type.get, '/AgroConfiguration/getTerritroy', data)).then(function (res, status) {

                var res1 = JSON.parse(res);
                console.log(res1.flag);
                if (res1.flag === "1") {
                    $('#ddlTerritoryName').empty();
                    $('#ddlTerritoryName').append('<option value="">Select Territory</option>');

                    $.each(res1.data, function (i, obj) {
                        // debugger;
                        console.log(i);
                        console.log(obj.Value);
                        console.log(obj.Text);
                        let s = '<option value="' + obj.Value + '">' + obj.Text + '</option>';

                        $('#ddlTerritoryName').append(s);
                    });
                }
                if (res1.flag === "0") {
                    $('#ddlTerritoryName').empty();
                }


            }).fail(function (error) {
                $('#ddlTerritoryName').empty();
                console.log(error);
            })

        });




        $("#addButton").click(function (e) {
            e.preventDefault();



            if (FormValidations() == true) {

                if (StockiestNameList.includes(txtStockiestName.val())) {
                    toastrErrorAlert("Stockiest Name Already Exist");
                }
                else {
                    //debugger;
                    console.log();

                    var sl = $("#tblMargeItems tbody tr").length;
                    var td1 = "<td class='text-center'><b>" + (sl + 1) + "</b></td>"
                    var td2 = "<td class='text-center'>" + dropDownSelectedText("ddlareaname") + "</td>";
                    var td3 = "<td class='text-center'>" + dropDownSelectedText("ddlTerritoryName") + "</td>";
                    var td4 = "<td class='text-center'>" + txtStockiestName.val() + "</td>";
                    var td5 = "<td class='text-center'>" + txtStockiestAddress.val() + "</td>";
                    var td6 = "<td class='text-center'>" + txtphonenmbr.val() + "</td>";
                    var td7 = "<td class='text-center'>" + ddlcreditlimit.val() + "</td>";
                    var td8 = "<td class='text-center'><a href='#' class='btn btn-sm btn-danger data-onfly-del'><i class='far fa-trash-alt'></i> Delete</a></td>";
                    var td9 = "<td class='hide txtemail'>" + txtemail.val() + "</td>";
                    var td10 = "<td class='hide txttradelicense'>" + txttradelicense.val() + "</td>";
                    var td11 = "<td class='hide txtnid'>" + txtnid.val() + "</td>";
                    var td12 = "<td class='hide txtcontactperson'>" + txtcontactperson.val() + "</td>";
                    var td13 = "<td class='hide txtcontactpersonnmbr'>" + txtcontactpersonnmbr.val() + "</td>";
                    var td14 = "<td class='hide numclamountin'>" + numclamountin.val() + "</td>";
                    var td15 = "<td class='hide Areaid'>" + ddlareaname.val() + "</td>";
                    var td16 = "<td class='hide TerritoryId'>" + ddlTerritoryName.val() + "</td>";


                    var tr = "<tr>" + td1 + td2 + td3 + td4 + td5 + td6 + td7 + td8 + td9 + td10 + td11 + td12 + td13 + td14 + td15 + td16  + "</tr>";

                    $("#tblMargeItems tbody").append(tr);
                    StockiestNameList.push(txtStockiestName.val());
                }

                clearCtrlstkst();
                $("#txtclamount").hide();
            }

        })


        $(document).on("click", "a.data-onfly-del", function (e) {
            e.preventDefault();
            var index = $(this).parent().parents('tbody tr').index();
            var tds = $(this).parent().parents('tbody tr').children('td');

            var stockiestId = tds.eq(14).html();
            console.log("stockiestId :" + stockiestId);
            const mid = StockiestNameList.indexOf(stockiestId);
            StockiestNameList.splice(mid, 1);

            removeTableRow("#tblMargeItems tbody", index);
            fnFixTheTbodyRowSerial("#tblMargeItems tbody", index);
        })



        $("#saveButton").click(function (e) {
            debugger;
        e.preventDefault();

            var details = [];
            details.length = 0;
        $.each($("#tblMargeItems tbody tr"), function (index, item) {
                var tds = $(this).children('td');
                details.push({

                    StockiestId: 0,
                    TerritoryId: tds.eq(15).html(),
                    AreaId: tds.eq(14).html(),
                    StockiestName: tds.eq(3).html(),
                    StockiestPhoneNumber: tds.eq(5).html(),
                    StockiestMail: tds.eq(8).html(),
                    StockiestTradeLicense: tds.eq(9).html(),
                    StockiestNID: tds.eq(10).html(),
                    StockiestContactPerson: tds.eq(11).html(),
                    StockiestContactPersonPHNumber: tds.eq(12).html(),
                    CreditLimit: tds.eq(13).html(),
                    Status: tds.eq(6).html(),
                    StockiestAddress: tds.eq(4).html(),

                });
            })
            console.log(details);
            var data = JSON.stringify({ details: details });

            $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/SaveStockiestList', data, getToken())).then(function (res, status) {
                if (res === true) {
                    debugger;
                    $('.toastrDefaultSuccess').trigger('click');
                    setTimeout(function () {
                        redirectPage('@Url.Action("GetStockiestList")');
                    }, 1000);
                }
                else {
                    $('.toastrDefaultError').trigger('click');
                }
                enable("#saveButton");
        }).fail(function (error) {
                alert(execuStatus.fail);
                enable("#saveButton");
        })



    });

        function FormValidations() {
            Isvalid = true;
            $('.error').addClass("hide");


            if ($.trim(txtStockiestName.val()) == "") {
                $('.required-StockiestName').removeClass("hide");
                Isvalid = false;
            }
            if ($.trim(ddlareaname.val()) == "") {
                $('.required-AreaName').removeClass("hide");
                Isvalid = false;
            }
            if ($.trim(ddlTerritoryName.val()) == "0") {
                $('.required-TerritoryName').removeClass("hide");
                Isvalid = false;
            }
            if ($.trim(txtStockiestAddress.val()) == "") {
                $('.required-StockiestAddress').removeClass("hide");
                Isvalid = false;
            }
            if ($.trim(txtphonenmbr.val()) == "") {
                $('.required-txtphonenmbr').removeClass("hide");
                Isvalid = false;
            }
            if ($.trim(ddlcreditlimit.val()) == "0") {
                $('.req-ddlcreditlimit').removeClass("hide");
                Isvalid = false;
            }



            return Isvalid

        }


        function redirectPage(page) {
            window.location.replace(page);
        }

        ddlcreditlimit.change(function () {
            if (ddlcreditlimit.val() == "Active") {
                $("#txtclamount").show();

            }
            if (ddlcreditlimit.val() == "InActive") {
                $("#txtclamount").hide();

            }

        })


        function clearCtrlstkst() {
            debugger;
            //ddldivname.val("");

            //ddlRegionName.val("");
            ddlareaname.val("");
            ddlareaname.trigger("change");
            ddlTerritoryName.val("");
            ddlTerritoryName.trigger("change");
            txtStockiestName.val("");
            txtStockiestAddress.val("");
            txtphonenmbr.val("");
            txtemail.val("");
            txttradelicense.val("");
            txtnid.val("");
            txtcontactperson.val("");
            txtcontactpersonnmbr.val("");
            ddlcreditlimit.val("0");
            ddlcreditlimit.trigger("change");
            numclamountin.val("");

        }
</script>
}
