@{
    ViewBag.Title = "DealarLadger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:-10px">

    <div class="col-md-12">





        <div class="row">
            <div class="col-md-12" style="margin-top:-14px">
                <div class="card card-navy">

                    <div class="card-header text-sm ">
                        <div class="row">
                            <div class="col-md-2">
                                <h5 class="text-center text-bold">Dealer Ladger</h5>
                            </div>
                            <div class="col-md-2">
                                @*<label for="ddlstokiestname">Stockiest Name </label>*@
                                @Html.DropDownList("ddlstokiestname", (IEnumerable<SelectListItem>)ViewBag.ddlstokiestname, "--Select Stokiest--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                            </div>
                            <div class="col-md-2">
                                <div class="input-group input-group-sm ">
                                    <input type="text" class="form-control form-control-sm date-datePicker" id="dptFromDate" placeholder="From Date" />
                                    <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                        <span class="input-group-text">&#10008;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group input-group-sm ">
                                    <input type="text" class="form-control form-control-sm date-datePicker" id="dptToDate" placeholder="To Date" />
                                    <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                        <span class="input-group-text">&#10008;</span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-12" style="margin-top:-14px">
                <div class="card" style="background-color: #E0FFFF;">
                    <div class="px-4 py-2" style="margin-bottom:-10px">
           
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h7 class="text-bold ">Name:  </h7><span class="text-black font-italic" id="ddlName"></span><br />
                                        <h7 class="text-bold">Address:  </h7><span class="text-black font-italic" id="ddlAddress"></span><br />
                                        <h7 class="text-bold">Number:  </h7><span class="text-black font-italic" id="ddlNumber"></span><br />
                                        <h7 class="text-bold">Territory:  </h7><span class="text-black font-italic" id="ddlTerritory"></span><br />
                                        <h7 class="text-bold">Territory Manager:  </h7><span class="text-black" id="ddlManager"></span>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h7 class="text-bold">Total Bill:  </h7><span class="text-black font-italic" id="ddltotalbill"></span><br />
                                        <h7 class="text-bold">Total Paid:  </h7><span class="text-black font-italic" id="ddltotalpaid"></span><br />
                                        <h7 class="text-bold">Total Return: </h7><span class="text-black font-italic" id="ddltotalreturn"></span><br />
                                        <h7 class="text-bold">Total Due: </h7> <span class="text-black font-italic" id="ddltotaldue"></span>

                                    </div>
                                </div>

                            </div>
     

                    </div>



                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-12" style="margin-top:-10px">
                @*<div class="card">
                    <div class="card-body">*@
                        <div class="col-md-12" id="dataContainer">

                        </div>
                    @*</div>
                </div>*@
            </div>
        </div>




    </div>


</div>


<div class="modal fade" id="AgroSalesProductDetails" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-gray-dark">
                <h4 id="modalHeading" class="modal-title">Details</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="dataContainer2">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="PaymentDetails" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-gray-dark">
                <h4 id="modalHeading" class="modal-title">Payment Details</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="dataContainer3">

            </div>
        </div>
    </div>
</div>


@section scripts{

    <script type="text/javascript">


        var ddlstokiestname = $("#ddlstokiestname");
        var ddltotalbill = $("#ddltotalbill");
        var ddltotalpaid = $("#ddltotalpaid");
        var ddltotaldue = $("#ddltotaldue");
        var ddltotalreturn = $("#ddltotalreturn");


        var ddlinvoiceno = $("#ddlinvoiceno");

        var ddlName = $("#ddlName");
        var ddlNumber = $("#ddlNumber");
        var ddlAddress = $("#ddlAddress");
        var ddlTerritory = $("#ddlTerritory");
        var ddlManager = $("#ddlManager");
        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        //var regionNameList = [];


        $(document).ready(function () {
            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            }).on('change', function () {
                $('.datepicker').hide();
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            }).on('change', function () {
                $('.datepicker').hide();
            });


        })

        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');
                }
            }
        })

        dptFromDate.change(function () {
            LoadSalesProducts();
        })
        dptToDate.change(function () {
            LoadSalesProducts();
        })

        //change Invoice
        $('#ddlstokiestname').change(function () {
            ClearData();
            let Stkid = $("#ddlstokiestname option:selected").val();
            debugger;
            var data = { id: TryParseInt(Stkid, 0), fromDate: dptFromDate.val(), toDate: dptToDate.val() };
            console.log(data);
            debugger

            LoadSalesProducts();

            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetStokistTotalbill", data)).then(function (res, status) {
                debugger;

                consoleLog(res.replace(/['"]+/g, ''));
                var totalbill = res.replace(/['"]+/g, '');
                ddltotalbill.text(totalbill);

            });

            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetStokistTotalPaid", data)).then(function (res, status) {


                consoleLog(res.replace(/['"]+/g, ''));
                var totalpaid = res.replace(/['"]+/g, '');

                ddltotalpaid.text(totalpaid);

            });

            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetStokistTotalDue", data)).then(function (res, status) {


                consoleLog(res.replace(/['"]+/g, ''));
                var totaldue = res.replace(/['"]+/g, '');

                ddltotaldue.text(totaldue);

            });

            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetStokistTotalReturn", data)).then(function (res, status) {


                consoleLog(res.replace(/['"]+/g, ''));
                var totalreturn = res.replace(/['"]+/g, '');

                ddltotalreturn.text(totalreturn);

            });

            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/SoketistName", data)).then(function (res, status) {


                consoleLog(res.replace(/['"]+/g, ''));
                var StockiestName = res.replace(/['"]+/g, '');

                ddlName.text(StockiestName);

            });

            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/SoketistNMBR", data)).then(function (res, status) {


                consoleLog(res.replace(/['"]+/g, ''));
                var StockiestPhoneNumber = res.replace(/['"]+/g, '');

                ddlNumber.text(StockiestPhoneNumber);

            });

            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/SoketistADD", data)).then(function (res, status) {


                consoleLog(res.replace(/['"]+/g, ''));
                var StockiestAddress = res.replace(/['"]+/g, '');

                ddlAddress.text(StockiestAddress);

            });
            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/SoketistTerritoryId", data)).then(function (res, status) {


                consoleLog(res.replace(/['"]+/g, ''));
                var TerritoryName = res.replace(/['"]+/g, '');

                ddlTerritory.text(TerritoryName);

            });
            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/SoketistTerritoryManager", data)).then(function (res, status) {


                consoleLog(res.replace(/['"]+/g, ''));
                var userName = res.replace(/['"]+/g, '');

                ddlManager.text(userName);

            });


           

        });

        function ClearData() {
            dptFromDate.val("");
            dptToDate.val("");
        }



        function LoadSalesProducts() {
            debugger;

            let Stkid = $("#ddlstokiestname option:selected").val();
            var data = { flag: "View", id: TryParseInt(Stkid, 0), fromDate: dptFromDate.val(), toDate: dptToDate.val() };
            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/DealarLadger', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").empty();
                    $("#dataContainer").append(res);
             
                }
            }).fail(function (error) {
                console.log(error);
            })
        }


        $(document).on('click', '.ProductionSalesInfoId', function (e) {
            e.preventDefault();
            debugger;

            $("#dataContainer2").empty();
            var id = $(this).parent().children('td').eq(1).html();
  
            console.log(id);


            if (true) {
                var data = { flag: "Detail", ProductSalesInfoId: id };
                $.when(getReqWithData('html', 'GET', '/AgroConfiguration/DealarLadger', data)).then(function (res, status) {
                    console.log(status);
                    if (status === "success") {
                        $("#dataContainer2").empty();
                        $("#dataContainer2").append(res);
                        $("#AgroSalesProductDetails").modal('show');
                    }
                }).fail(function (error) {
                    console.log(error);
                })
            }

        })
        $(document).on('click', '.TotalAmount', function (e) {
            e.preventDefault();
            debugger;

            $("#dataContainer2").empty();
            var id = $(this).parent().children('td').eq(1).html();

            console.log(id);


            if (true) {
                var data = { flag: "Direct", ProductSalesInfoId: id };
                $.when(getReqWithData('html', 'GET', '/AgroConfiguration/DealarLadger', data)).then(function (res, status) {
                    console.log(status);
                    if (status === "success") {
                        $("#dataContainer3").empty();
                        $("#dataContainer3").append(res);
                        $("#PaymentDetails").modal('show');
                    }
                }).fail(function (error) {
                    console.log(error);
                })
            }

        })



    </script>
}