
@{
    ViewBag.Title = "DepotList";
}

<div class="row">
    <div class="col-md-12 text-center">
        <div class="card card-gray shadow">
            <div class="card-header">
                <h4>Depot Setup</h4>

            </div>

        </div>

    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-navy shadow">
            <div class="card-header">
                <div class="row text-sm">
                    <div class="col-md-2">
                        <h4>Search by:</h4>
                    </div>
                    <div class="col-md-3 float-right">
                        <input type="text" class="form-control form-control-sm" id="searchByAny" placeholder="Search by any" />

                    </div>
                    <div class="col-7">
                        <button class="btn btn-outline-primary btn-flat btn-sm float-right" id="addButton"><i class="fa fa-plus"></i> Create New Depot</button>
                    </div>

                </div>
            </div>
        </div>


    </div>

</div>

@*<div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row text-center" id="dataContainer">

                    </div>
                </div>

            </div>

        </div>

    </div>*@
<div class="col-md-12" style="margin-top:-10px">
    <div class="card">
        <div class="card-body">
            <div class="col-md-12" id="dataContainer">

            </div>
        </div>
    </div>
</div>


<div class="modal" id="depotmodal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead"></span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="formdepot">
                    <input type="hidden" id="hddepotId" />
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="ddlOrganizationName" class="control-label">OrganizationName</label>
                            @Html.DropDownList("ddlOrganizationName", (IEnumerable<SelectListItem>)ViewBag.ddlOrganizationName, "Select OrgName", new { @class = "form-control form-control-sm" })
                            <span class="error hide required-organizatinName font-weight-bold">Input OrganizatinName!</span>
                            <span class="error hide duplicate-organizatinName font-weight-bold">Already OrganizatinName Exist!</span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="ddlDepotName" class="control-label">DepotName</label>
                            <input type="text" id="ddlDepotName" class="form-control form-control-sm" />
                            <span class="error hide required-DepotName font-weight-bold">Input Depot Name!</span>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="ddlStatus" class="control-label">Status</label>
                            <select class="form-control form-control-sm" id="ddlStatus">
                                <option value="Active">Active</option>
                                <option value="InActive">InActive</option>
                            </select>
                        </div>



                    </div>

                </form>


            </div>

            <div class="modal-footer btn-default">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-outline-danger btn-sm float-right" data-dismiss="modal" data-target="#"><i class="fas fa-paper-plane"></i> Cancel </button>
                <button type="submit" class="btn btn-outline-success btn-sm float-right" id="saveButton"><i class="fas fa-paper-plane"></i> <span id="Save">Save</span> </button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        //DepotList
        var hddepotId = $("#hddepotId");
        var searchByAny = $("#searchByAny");
        var ddlOrganizationName = $("#ddlOrganizationName");
        var ddlStatus = $("#ddlStatus");
        var ddlDepotName = $("#ddlDepotName");
        $(document).ready(function () {
            LoadDepotDataTable()
        })
        function LoadDataInitializer() {
            LoadDepotDataTable();

        }

        //#region Warehouse

        searchByAny.keyup(function () {
            LoadDepotDataTable()
        })
        //function LoadDataInitializer() {
        //searchByAny.keyup(function () {
        //    LoadDepotDataTable();
        //})

        function LoadDepotDataTable() {
            var data = { flag: "DepotSetup", name: $.trim(searchByAny.val()) }
            $.when(getReqWithData(dataType.html, type.get, '/AgroConfiguration/DepotList', data)).then(function (res, status) {
                console.log(res);
                if (status === "success") {
                    $("#dataContainer").empty();
                    $("#dataContainer").append(res);
                }
            }).fail(function (err) { console.log(err) })
        }


        $("#saveButton").click(function (e) {
            e.preventDefault();
            //console.log("btnsubmit click");
            $(".error").addClass("hide");
            if (true) {
                debugger;
                var data = JSON.stringify({ OrganizationId: TryParseInt(ddlOrganizationName.val(), 0), DepotName: ddlDepotName.val(), Status: ddlStatus.val() });
                console.log(data);
                $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/SaveDepotInfo', data, getToken())).then(function (res, status) {
                    console.log(status);
                    console.log(res);
                    if (res == true) {
                        //message("#msg1", "#modalWarehouse");
                        $("#depotmodal").modal("toggle");
                        toastrSuccessAlert(execuStatus.successSave);
                        LoadDepotDataTable();
                    }
                    else {
                        //message("#msg2");
                        toastrErrorAlert(execuStatus.fail);
                    }
                    enable("#saveButton");
                }).fail(function (err) {
                    console.log(err);
                    enable("#saveButton");
                });
            }

        })

        $(document).on("click", "a.data-edit-item-Depot", function (e) {
            alert();
            e.preventDefault()
            clearCtrlUnit();
            var row = $(this).parent().parents('tr');
            var td1 = row.find('td:eq(1)').html();
            var td2 = row.find('td:eq(2)').html();
            var td3 = row.find('td:eq(3)').html();
            var td4 = row.find('td:eq(4)').html();

            hddepotId.val(td1);
            ddlOrganizationName.val(td2);
            ddlStatus.val(td3)
            ddlDepotName.val(td4);

            OpenModalUnit();
            $("#spanModalHead").text('Update Unit');
            $("#spanSaveTextUnit").text('Update');
        })


        function OpenModal() {
            $("#spanModalHead").text("Add New Depot");
            $("#saveButton").text('Save');
            $("#depotmodal").modal("show");
            $(".error").addClass("hide");


        }
        $("#addButton").click(function (e) {
            e.preventDefault();


            OpenModal();

        })

    </script>

}





