@{
    ViewBag.Title = "FGProductPendingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var privilege = (ERPBO.Common.UserPrivilege)ViewBag.UserPrivilege;
}

<div class="row" style="margin-top:-10px">
    <div class="col-md-12">


        @Html.AntiForgeryToken()
        <div class="tab-pane fade show active" id="custom-tabs-two-RawMaterialReturnList" role="tabpanel" aria-labelledby="custom-tabs-two-RawMaterialReturnList-tab">
            <div class="row" style="margin-top:-15px">
                <div class="col-md-12">
                    <div class="card card-navy">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-3 ">
                                    <input type="text" class="form-control form-control-sm" id="searchByAny" placeholder="Search by any" />

                                </div>
                                <div class="col-md-6">
                                    <h5 class="text-center text-bold">
                                        List Of Pending FG Product
                                    </h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12" style="margin-top:-10px">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-md-12" id="dataContainer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="modal fade" id="ModalProductionFinishGoodDetails" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-gray-dark">

                <div class="col-md-4">
                    <h5 class="text-left text-bold">
                        RawMaterial Consumption
                    </h5>
                </div>
                <div class="hide">
                    <label for="txtbatchcode" class="control-label">Batchcode</label>
                    <input type="text" id="txtbatchcode" class="form-control form-control-sm" />
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <select class="form-control form-control-sm" id="ddlAction">
                            <option value="Approved" selected>Approved</option>
                            <option value="Rejected">Rejected</option>
                        
                        </select>
                    </div>
                </div>

            </div>


            <div class="modal-body" id="dataContainer2">

            </div>
            <div class="modal-footer btn-default">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-outline-danger btn-sm float-right" data-dismiss="modal" data-target="#"><i class="fa-solid fa-circle-xmark"></i></i>Cancel</button>
                <button type="submit" class="btn btn-outline-success btn-sm float-right" id="Accept"><i class="fas fa-paper-plane"></i> <span id="spanSaveTextZone">Save</span> </button>
            </div>
        </div>
    </div>
</div>






@section scripts{


    <script type="text/javascript">


        var searchByAny = $("#searchByAny");
        var txtbatchcode = $("#txtbatchcode");
        var ddlAction = $("#ddlAction");


        $(document).ready(function () {

            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            LoadDataTable()
        })



        function LoadDataInitializer() {
            LoadDataTable();
        }

        searchByAny.keyup(function () {
            LoadDataTable()
        })

        function LoadDataTable() {
            debugger;

            var data = { flag: "View", name: $.trim(searchByAny.val()) };

            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/FGProductAccept', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });

                }
            }).fail(function (error) {
                console.log(error);
            });
            //pageNo = 1;
        }



        $(document).on('click', 'a.data-edit-item-Return', function (e) {
            e.preventDefault();
            debugger;
            var row = $(this).parent().parents('tr');
            var td1 = row.find('td:eq(2)').html();
            txtbatchcode.val(td1);

            $("#dataContainer2").empty();
            var id = $(this).parent().parents('tr').children('td').eq(2).html();
            if (true) {
                var data = { flag: "Detail", finishGoodProductionBatch: id };
                $.when(getReqWithData('html', 'GET', '/AgroConfiguration/FGProductAccept', data)).then(function (res, status) {
                    console.log(status);
                    if (status === "success") {
                        $("#dataContainer2").empty();
                        $("#dataContainer2").append(res);
                        $("#ModalProductionFinishGoodDetails").modal('show');
                    }
                }).fail(function (error) {
                    console.log(error);
                })
            }
        })



        //update


        $("#Accept").click(function (e) {
            debugger
            e.preventDefault();
            if (true) {

                debugger;
                var info = { FinishGoodProductionBatch: txtbatchcode.val(), Status: ddlAction.val() };
                        var details = [];
                        details.length = 0;

                $.each($("#tblfgproductpendingItems tbody tr"), function (index, item) {
                            var tds = $(this).children('td');
                            details.push({
                              //  ReturnRawMaterialId: tds.eq(3).html()
                                FinishGoodProductDetailId: tds.eq(1).html(),
                                FinishGoodProductionBatch: tds.eq(0).html(),
                                RawMaterialId: tds.eq(7).html()

                            });
                        })


                console.log(details);
                var data = JSON.stringify({ details: details, info: info });

                $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/FGProductAcceptSave', data , getToken())).then(function (res, status)
                {

                    if (res.IsSuccess === true) {
                     debugger;
                                $('.toastrDefaultSuccess').trigger('click');
                        var FinishGoodProductionBatch = res.File;
                   
                        window.open('/AgroConfiguration/GetFinishGoodAcceptReport?FinishGoodProductionBatch=' + FinishGoodProductionBatch, '_blank');

                                setTimeout(function () {
                                    redirectPage('@Url.Action("FGProductAccept")');
                                }, 500);

                            }


                            @*if (res === true) {
                                $('.toastrDefaultSuccess').trigger('click');
                                setTimeout(function () {
                                    redirectPage('@Url.Action("FGProductAccept")');
                                }, 1000);

                            }*@
                            else {
                                $('.toastrDefaultError').trigger('click');
                            }
                            enable("#btnSubmit");
                        }).fail(function (error) {
                            alert(execuStatus.fail);
                            enable("#btnSubmit");
                        })
                function redirectPage(page) {
                    window.location.replace(page);
                }
            }
        })

    </script>

}