
@{
    ViewBag.Title = "GetAgroSalesProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var privilege = (ERPBO.Common.UserPrivilege)ViewBag.UserPrivilege;
}

<div class="row" style="margin-top:-10px">
    <div class="col-md-12">

                    @Html.AntiForgeryToken()

                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    List Of Agro Sales Product
                                                </h5>
                                            </div>
                                            <div class="col-md-3">

                                                <a href="/AgroConfiguration/CreateAgroSalesProduct" class="btn btn-outline-warning btn-sm float-lg-right" id="btnAddNew"><i class="fa fa-plus"></i> Create Sales Product</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-15px">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row justify-content-center">
                                            <div class="col-md-2">
                                                <h5 class="text-right">Search By</h5>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" class="form-control form-control-sm" id="searchByAny" placeholder="search Invoice" />
                                            </div>

                                            <div class="col-md-2">
                                                @Html.DropDownList("ddlStockiest", (IEnumerable<SelectListItem>)ViewBag.ddlStockiest, "--Select Stockiest--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })

                                            </div>

                                            <div class="col-md-2">
                                                <div class="input-group input-group-sm ">
                                                    <input type="text" class="form-control form-control-sm date-datePicker" id="dptFromDate" placeholder="From Date" />
                                                    <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                                        <span class="input-group-text">&#10008;</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="input-group input-group-sm ">
                                                    <input type="text" class="form-control form-control-sm date-datePicker" id="dptToDate" placeholder="To Date" />
                                                    <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                                        <span class="input-group-text">&#10008;</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12" id="dataContainer" >
                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

    </div>
</div>


<div class="modal fade" id="AgroSalesProductDetails" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary">
                <h4 id="modalHeading" class="modal-title">Agro Sales Product Details</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="dataContainer2">

            </div>
        </div>
    </div>
</div>



@*modal*@
<div class="modal" id="Paymentmodal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead"></span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>


            <div class="col-md-12">
                <div class="container-fluid" @*style="background-color:#e7f1f6"*@>
                    @*border-right:4px solid #808080*@

                    <div class="row justify-content-center">


                        <div class="card">
                            <div class="col-md-12">
                                <h5 style="border-bottom:2px solid #08054e">Information</h5>
                              
                                <div class="row">
                                    <input type="hidden" id="hdProductSalesInfoId" />
                                    <div class="col-md-3">
                                        <label for="ddlInvoiceNo" class="col-form-label">Invoice No.</label>
                                        <input type="text" id="ddlInvoiceNo" class="form-control form-control-sm" readonly />

                                    </div>
                                    <div class="col-md-3">
                                        <label for="ddlTotalAmount" class="col-form-label">Total Amount</label>
                                        <input type="text" id="ddlTotalAmount" class="form-control form-control-sm" readonly />

                                    </div>
                                    <div class="col-md-3">
                                        <label for="ddlPaidAmount" class="col-form-label">Paid AMount</label>
                                        <input type="text" id="ddlPaidAmount" class="form-control form-control-sm" readonly />

                                    </div>
                                    <div class="col-md-3">
                                        <label for="ddlDueAmount" class="col-form-label">Due AMount</label>
                                        <input type="text" id="ddlDueAmount" class="form-control form-control-sm" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="container" @*style="background-color:#e7f1f6"*@>
                    @*border-right:4px solid #808080*@

                    @*<div class="row justify-content-center">*@


                        <div class="card">
                            <div class="col-md-12">
                                <h5 style="border-bottom:2px solid #ff0000">Payment</h5>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="ddlAmount" class="col-form-label">Amount</label>
                                        <input type="number" id="ddlAmount" class="form-control form-control-sm" />
                                        <span class="error hide req-ddlAmount font-weight-bold">Amount is required!</span>

                                    </div>
                                    <div class="col-md-8">
                                        <label for="ddlRemarks" class="col-form-label">Remarks.</label>
                                        <input type="text" id="ddlRemarks" class="form-control form-control-sm" />
                                        <span class="error hide req-ddlRemarks font-weight-bold">Invoice No is required!</span>
                                    </div>
                                </div>

                            </div>
                        </div>





                    @*</div>*@
                </div>
            </div>







            <div class="modal-footer btn-default">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-outline-danger btn-sm float-right" data-dismiss="modal" data-target="#"><i class="fas fa-paper-plane"></i> Cancel </button>
                <button type="submit" class="btn btn-outline-success btn-sm float-right" id="saveButton"><i class="fas fa-paper-plane"></i> <span id="spanSaveTextZone">Save</span> </button>
            </div>
        </div>
    </div>
</div>












@section scripts{


    <script type="text/javascript">

        var rptType = $("#rptType");



        var ddlInvoiceNo = $("#ddlInvoiceNo");
        var ddlTotalAmount = $("#ddlTotalAmount");
        var ddlPaidAmount = $("#ddlPaidAmount");
        var ddlDueAmount = $("#ddlDueAmount");

        var ddlAmount = $("#ddlAmount");
        var ddlRemarks = $("#ddlRemarks");

        var hdProductSalesInfoId = $("#hdProductSalesInfoId");

        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        var searchByAny = $("#searchByAny");
        var ddlStockiest = $("#ddlStockiest");



        $(document).ready(function () {
         
            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });

            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            }).on('change', function () {
                $('.datepicker').hide();
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            }).on('change', function () {
                $('.datepicker').hide();
            });

            LoadSalesProducts()
        })



        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');
                }
            }
        })

        searchByAny.keyup(function () {
            LoadSalesProducts()
        })

        dptFromDate.change(function () {
            LoadSalesProducts();
        })

        dptToDate.change(function () {
            LoadSalesProducts();
        })
        ddlStockiest.change(function () {
            LoadSalesProducts();
        })


        function LoadSalesProducts() {
            debugger;

            var data = { flag: "View", id: 0, invoiceNo: $.trim(searchByAny.val()), stockiestId: TryParseInt(ddlStockiest.val(), 0), fromDate: dptFromDate.val(), toDate: dptToDate.val() };

            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/GetAgroSalesProductList', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            });
            
        }

        $(document).on('click', 'a.data-item-detail-ProductionSalesInfoId', function (e) {
            e.preventDefault();
            debugger;
            $("#dataContainer2").empty();
            var id = $(this).parent().parents('tr').children('td').eq(1).html();
            if (true) {
                var data = { flag: "Detail", id: id };
                $.when(getReqWithData('html', 'GET', '/AgroConfiguration/GetAgroSalesProductList', data)).then(function (res, status) {
                    console.log(status);
                    if (status === "success") {
                        $("#dataContainer2").empty();
                        $("#dataContainer2").append(res);
                        $("#AgroSalesProductDetails").modal('show');
                    }
                }).fail(function (error) {
                    console.log(error);
                })
            }
        })

        //modal open

        function OpenModal() {
            $("#spanModalHead").text("Add New Zone");
            $("#spanSaveTextZone").text('Save');
            $("#Paymentmodal").modal("show");
            $(".error").addClass("hide");
        }
      
        //payment
        $(document).on("click", "a.data-item-Payment-ProductionSalesInfoId", function (e) {
            //alert();
            //debugger;
            e.preventDefault()

            var row = $(this).parent().parents('tr');
            var td1 = row.find('td:eq(3)').html();
            var td2 = row.find('td:eq(6)').html();
            var td3 = row.find('td:eq(7)').html();
            var td4 = row.find('td:eq(8)').html();
            var td5 = row.find('td:eq(1)').html();
     

            hdProductSalesInfoId.val(td5);
            ddlInvoiceNo.val(td1);
            ddlTotalAmount.val(td2);
            ddlPaidAmount.val(td3);
            ddlDueAmount.val(td4);
          

            OpenModal();
            $("#spanModalHead").text('Payment');
            $("#spanSaveTextZone").text('Payment Update');
        })




        

        $(document).on('click', 'a.data-item-download', function (e) {
            e.preventDefault();
            window.open("/AgroConfiguration/AgroProductSalesReport?ProductSalesInfoId=" + ProductSalesInfoId.val());
        })

        $(document).on('click', 'a.data-item-download', function (e) {
            e.preventDefault();
            window.open("/AgroConfiguration/AgroProductSalesChallanReport?ProductSalesInfoId=" + ProductSalesInfoId.val());
        })


        //$(document).on('click', 'a.data-item-download', function (e) {
        //    e.preventDefault();
        //    debugger;
        //    $("#dataContainer2").empty();
        //    var id = $(this).parent().parents('tr').children('td').eq(1).html();
        //    if (true) {
        //        var data = { id: id };
        //        $.when(getReqWithData('html', 'GET', '/AgroConfiguration/GetAgroSalesProductList', data)).then(function (res, status) {
        //            console.log(status);
        //            if (status === "success") {
        //                $("#dataContainer2").empty();
        //                $("#dataContainer2").append(res);
        //                $("#AgroSalesProductDetails").modal('show');
        //            }
        //        }).fail(function (error) {
        //            console.log(error);
        //        })
        //    }
        //})






        //save
        $("#saveButton").click(function (e) {
            alert();
            debugger;
            e.preventDefault();
            $(".error").addClass("hide");

            var info = { ProductSalesInfoId: TryParseInt(hdProductSalesInfoId.val(), 0), PaymentAmount: ddlAmount.val(), Remarks: ddlRemarks.val() };

            var data = JSON.stringify({ info: info });



            $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/SaveSalesPayment', data, getToken())).then(function (res, status) {
                            if (res === true) {
                                //debugger;
                                $('.toastrDefaultSuccess').trigger('click');
                                setTimeout(function () {
                                    redirectPage('@Url.Action("GetAgroSalesProductList")');
                                }, 1000);
                                
                            }
                            else {
                                $('.toastrDefaultError').trigger('click');
                            }
                            enable("#btnSubmit");
                        }).fail(function (error) {
                            alert(execuStatus.fail);
                            enable("#btnSubmit");
                })



        });




        function redirectPage(page) {
            window.location.replace(page);
        }
    </script>

}