
@{
    ViewBag.Title = "GetArealist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-gray shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3">
                        <a href="/AgroConfiguration/AreaList" class="float-left btn btn-sm btn-outline-primary" title="Go To List">
                            <i class="fas fa-arrow-alt-circle-left"></i>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-center text-bold">Create Area</h5>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>

            <div class="card-body text-sm">
                <div class="row " style="margin-top:-8px;">
                    <div class="col-md-2">
                        <label for="ddlorgname" class="control-label">OrganizationName</label>
                        @Html.DropDownList("ddlorgname", (IEnumerable<SelectListItem>)ViewBag.ddlorgname, "Select OrgName", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                        <span class="error hide required-OrganizationName font-weight-bold">Input OrganizatinName!</span>
                    </div>

                    <div class="col-md-2">
                        <label for="ddlRegionname" class="control-label">RegionName</label>
                        @Html.DropDownList("ddlRegionname", (IEnumerable<SelectListItem>)ViewBag.ddlRegionname, "Select Region Name", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                        <span class="error hide required-RegionName font-weight-bold">Input RegionName!</span>


                    </div>
                    <div class="col-md-2">
                        <label for="ddlAreaName" class="control-label">AreaName</label>
                        <input type="text" id="ddlAreaName" class="form-control form-control-sm" />
                        <span class="error hide required-AreaName font-weight-bold">Input Area Name!</span>
                        <span class="error hide duplicate-AreaName font-weight-bold">Already AreaName Exist!</span>
                    </div>



                    <div class="col-md-1 " style="margin-top:5px;">
                        <label for="addButton" class="control-label"></label>
                        <div class="clearfix">
                            <button type="submit" class="btn btn-outline-primary float-left " id="addButton" title="Add To List"><i class="fas fa-plus"></i> Add</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-sm text-sm table-responsive-lg" id="tblSingleItems">
                            <thead>
                                <tr>
                                    <th colspan="9">
                                        <button class="btn btn-outline-success btn-sm float-lg-left mt-2" id="saveButton">SAVE <i class="fas fa-paper-plane"></i></button>
                                    </th>
                                </tr>

                                <tr class="text-center btn-dark">
                                    <th style="width:5%">#SL</th>
                                    <th class="hide hdOrgId"></th>
                                    <th style="width:20%">Org Name</th>
                                    <th class="hide hdregionId"></th>
                                    <th style="width:15%">Region Name</th>
                                    <th style="width:15%">Area Name</th>
                                    <th style="width:10%">Action</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>



        </div>
    </div>

</div>

@section scripts{

    <script type="text/javascript">



        var ddlorgname = $("#ddlorgname");
        var ddlRegionname = $("#ddlRegionname");
        var ddlAreaName = $("#ddlAreaName");
        var hdregionId = '';
        var AreaId = '';
        var hdOrgId = '';
        var AreaNameList = [];

        //select2
        $(document).ready(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
        })


        function Validationss() {
            Isvalid = true;
            $('.error').addClass("hide");
            if ($.trim(ddlorgname.val()) == 0) {
                $('.required-OrganizationName').removeClass("hide");
                Isvalid = false;
            }
            if ($.trim(ddlRegionname.val()) == 0) {
                $('.required-RegionName').removeClass("hide");
                Isvalid = false;
            }


            if ($.trim(ddlAreaName.val()) == "") {
                $('.required-AreaName').removeClass("hide");
                Isvalid = false;
            }


            return Isvalid

        }


        //add
        $("#addButton").click(function (e) {
            debugger;
            e.preventDefault();
            if (Validationss() == true) {

                if (AreaNameList.includes(ddlAreaName.val())) {
                    toastrErrorAlert("Area Name Already Exist");
                }
                else {
                    var sl = $("#tblSingleItems tbody tr").length;
                    var td1 = "<td class='text-center'><b>" + (sl + 1) + "</b></td>"
                    var td2 = "<td class='text-center'>" + dropDownSelectedText("ddlorgname") + "</td>";
                    var td3 = "<td class='text-center'>" + dropDownSelectedText("ddlRegionname") + "</td>";
                    var td4 = "<td class='text-center'>" + ddlAreaName.val() + "</td>";
                    var td5 = "<td class='hide hdOrgId'>" + ddlorgname.val() + "</td>";
                    var td6 = "<td class='hide hdregionId'>" + ddlRegionname.val() + "</td>";
                    var td7 = "<td class='text-center'><a href='#' class='btn btn-sm btn-danger data-onfly-del'><i class='far fa-trash-alt'></i> Delete</a></td>";


                    var tr = "<tr>" + td1 + td2 + td3 + td4 + td5 + td6 + td7 + "</tr>";

                    $("#tblSingleItems tbody").append(tr);
                    AreaNameList.push(ddlAreaName.val());
                }


            }


        })

        $(document).on("click", "a.data-onfly-del", function (e) {
            e.preventDefault();
            var index = $(this).parent().parents('tbody tr').index();
            var tds = $(this).parent().parents('tbody tr').children('td');

            var AreaId = tds.eq(5).html();
            console.log("rawMaterialId :" + AreaId);
            const mid = AreaNameList.indexOf(AreaId);
            AreaNameList.splice(mid, 1);




            removeTableRow("#tblSingleItems tbody", index);
            fnFixTheTbodyRowSerial("#tblSingleItems tbody", index);
        })

        //save in database
        $("#saveButton").click(function (e) {
            debugger;
            e.preventDefault();
            //alert();

            var details = [];
            details.length = 0;
            $.each($("#tblSingleItems tbody tr"), function (index, item) {
                var tds = $(this).children('td');
                //console.log(tds);
                //console.log(tds.eq(7));
                //console.log(tds.eq(7).html());
                //console.log(tds.eq(7));

                details.push({

                    AreaId: 0,
                    AreaName: tds.eq(3).html(),
                    OrganizationId: tds.eq(4).html(),
                    RegionId: tds.eq(5).html()
                });
            })
            console.log(details);
            var data = JSON.stringify({ details: details });

            $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/SaveAreaInfo', data, getToken())).then(function (res, status) {
                if (res === true) {
                    debugger;
                    $('.toastrDefaultSuccess').trigger('click');
                    setTimeout(function () {
                          redirectPage('@Url.Action("AreaList")');
                    }, 1000);
                }
                else {
                    $('.toastrDefaultError').trigger('click');
                }
                enable("#saveButton");
            }).fail(function (error) {
                alert(execuStatus.fail);
                enable("#saveButton");
            });



            function redirectPage(page) {
                window.location.replace(page);
            }

        });

    </script>
}

