
@{
    ViewBag.Title = "GetFinishGoodProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="row" style="margin-top:-7px">
    <div class="col-md-12">

        <div class="row" style="margin-top:-15px">
            <div class="col-md-12" style="height:60px;text-align:center">
                <div class="card" style="background-color:#001f3f">
                    <div class="px-2 py-1">
                        <div class="row">
                            <div class="col-md-3">
                                <h5 class=" text-bold float-left text-white">
                                    Finish Good Product
                                </h5>
                            </div>
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-3 text-center">
                                <input type="text" class="form-control form-control-sm" id="searchByAny" placeholder="Search by any" />

                            </div>


                            <div class="col-md-1">

                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-outline-warning btn-sm float-right" id="addButton"><i class="fa fa-plus"></i> Create New Product</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12" style="margin-top:-15px">
        <div class="card">
            <div class="card-body" style="margin-top:-10px">
                <div class="col-md-12" id="dataContainer">

                </div>
            </div>
        </div>
    </div>
</div>







<div class="modal" id="modalProduct" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-gray-dark">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHeadProduct"></span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="formdepot">
                    <input type="hidden" id="hdproductId" />
                    <div class="form-row">

                        <div class="form-group col-md-12">
                            <label for="ddlProductName" class="control-label">Product Name <span style="color:red">*</span></label>
                            <input type="text" id="ddlProductName" class="form-control form-control-sm" />
                            <span class="error hide required-ProductName font-weight-bold">Input Product Name!</span>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="ddlStatus" class="control-label">Status</label>
                            <select class="form-control form-control-sm select2" id="ddlStatus">
                                <option value="Active">Active</option>
                                <option value="InActive">InActive</option>
                            </select>
                        </div>
                    </div>

                </form>


            </div>

            <div class="modal-footer btn-default bg-gradient-gray-dark">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-outline-danger btn-sm float-right" data-dismiss="modal" data-target="#"><i class="fas fa-paper-plane"></i> Cancel </button>
                <button type="submit" class="btn btn-outline-success btn-sm float-right" id="saveButton"><i class="fas fa-paper-plane"></i> <span id="spanSaveTextProduct">Save</span> </button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        //DepotList
        var hdproductId = $("#hdproductId");
        var searchByAny = $("#searchByAny");
        var ddlOrganizationName = $("#ddlOrganizationName");
        var ddlStatus = $("#ddlStatus");
        var ddlProductName = $("#ddlProductName");

        $(document).ready(function () {
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            $(function () {
                $('#ddlProductName').focus();
            });

            LoadProductDataTable()
        })
        function LoadDataInitializer() {
            LoadProductDataTable();
        }

        //#region Warehouse

        searchByAny.keyup(function () {
            LoadProductDataTable()
        })
        //function LoadDataInitializer() {
        //searchByAny.keyup(function () {
        //    LoadDepotDataTable();
        //})

        function LoadProductDataTable() {
            var data = { flag: 'Search', name: $.trim(searchByAny.val()) }
            $.when(getReqWithData(dataType.html, type.get, '/AgroConfiguration/GetFinishGoodProduct', data)).then(function (res, status) {
                console.log(res);
                if (status === "success") {
                    $("#dataContainer").empty();
                    $("#dataContainer").append(res);
                }
            }).fail(function (err) { console.log(err) })
        }

        $("#saveButton").click(function (e) {
            e.preventDefault();
            debugger;
            //console.log("btnsubmit click");
            $(".error").addClass("hide");
            if (formValidation() == true) {
                debugger;
                var data = JSON.stringify({ FinishGoodProductId: TryParseInt(hdproductId.val(), 0), FinishGoodProductName: ddlProductName.val(), Status: ddlStatus.val() });
                console.log(data);
                $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/SaveFinishGoodProduct', data, getToken())).then(function (res, status) {
                    console.log(status);
                    console.log(res);
                    if (res == true) {
                        //message("#msg1", "#modalWarehouse");
                        $("#modalProduct").modal("toggle");
                        toastrSuccessAlert(execuStatus.successSave);
                        LoadProductDataTable();
                    }
                    else {
                        //message("#msg2");
                        toastrErrorAlert(execuStatus.fail);
                    }
                    enable("#saveButton");
                }).fail(function (err) {
                    console.log(err);
                    enable("#saveButton");
                });
            }

        })

        $(document).on("click", "a.data-edit-item-Product", function (e) {
            e.preventDefault()
            ClearCtrl();
            var row = $(this).parent().parents('tr');
            var td1 = row.find('td:eq(1)').html();
            var td2 = row.find('td:eq(2)').html();
            var td3 = row.find('td:eq(3)').html();
            var td4 = row.find('td:eq(4)').html();
            var td5 = row.find('td:eq(5)').html();
            var td6 = row.find('td:eq(6)').html();

            hdproductId.val(td1);
            //ddlOrganizationName.val(td2);
            ddlProductName.val(td4);
            ddlStatus.val(td6);
            //ddlStatus.prop("checked", false);
            //if (td6.toLowerCase() === 'active') {
            //    ddlStatus.prop("checked", true);
            //}
            

            OpenModal();
            $("#spanModalHead").text('Update Unit');
            $("#spanSaveTextProduct").text('Update');
        })


        //function OpenModal() {
        //    $("#spanModalHead").text("Add New Depot");
        //    $("#saveButton").text('Save');
        //    $("#depotmodal").modal("show");
        //    $(".error").addClass("hide");


        //}

        function OpenModal() {
            $("#spanModalHeadProduct").text('Add New Product');
            $("#spanSaveTextProduct").text('Save');
            $("#modalProduct").modal("show");
            $(".error").addClass("hide");
            $(function () {
                $('#ddlProductName').focus();
            });
        }
        $("#addButton").click(function (e) {
            e.preventDefault();
            ClearCtrl();
            OpenModal();

        })

        function formValidation() {
            Isvalid = true;
            $('.error').addClass("hide");
            //if ($.trim(ddlOrganizationName.val()) == 0) {
            //    $('.required-ddlOrganization').removeClass("hide");
            //    Isvalid = false;
            //}
            if ($.trim(ddlProductName.val()) == 0) {
                $('.required-ProductName').removeClass("hide");
                Isvalid = false;
            }
            
            return Isvalid

        }
        function ClearCtrl() {
            ddlProductName.val("");
            //ddlOrganizationName.val('');
            hdproductId.val('0');

        }

    </script>

}


