
@{
    ViewBag.Title = "GetFinishGoodStockReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-sm" style="margin-top:-15px">
    <div class="col-md-12">

        <div class="row" style="margin-top:-5px">
            <div class="col-md-12">
                <div class="card" style="background-color:#001f3f">
                    <div class="px-2 py-1" style="text-align: center;">
                        <div class="row align-items-center">

                            <div class="col-md-3">
                                <h5 class="float-left text-bold text-white">
                                    Finish Good Stock Report
                                </h5>
                            </div>

                            <div class="col-md-2">
                                @Html.DropDownList("ddlProductName", (IEnumerable<SelectListItem>)ViewBag.ddlProductName, "--ProductName--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                                <span class="error hide req-ProductName font-weight-bold">Product Name is required!</span>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" placeholder="FromDate" />
                                    <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                        <span class="input-group-text p-0">&#10008;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" placeholder="ToDate" />
                                    <div class="input-group-prepend cursor-pointer remove-date dptToDate" style="cursor:pointer">
                                        <span class="input-group-text p-0">&#10008;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group input-group-sm">
                                    <select class="form-control form-control-sm float-right" id="rptType" name="rptType">
                                        <option value="PDF">PDF</option>
                                        <option value="EXCEL">EXCEL</option>
                                    </select>
                                    <span class="input-group-append">
                                        <button type="button" id="btnDownload" title="Download" class="btn btn-block btn-info btn-flat p-0 pr-1"><i class="fas fa-download"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*<div class="row" style="margin-top:-10px">
            <div class="col-md-12">
                <div class="card card-gray-dark">

                </div>
            </div>
        </div>*@
        <div class="row" style="margin-top:-3px">
            @*<div class="col-md-12">
                <div class="card card-gray-dark">

                </div>
            </div>*@

            <div class="col-md-12" style="margin-top:-10px">
                <div class="card">
                    <div class="card-body" style="margin-top:-10px">
                        <div class="col-md-12" id="dataContainer">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

@section scripts{
    <script type="text/javascript">


        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        var rptType = $("#rptType");
        var ddlProductName = $("#ddlProductName");


        $(document).ready(function () {

            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,

            }).on('change', function () {
                $('.datepicker').hide();
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,

            }).on('change', function () {
                $('.datepicker').hide();
            });
            LoadFinishGoodReportList()

        })

        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');
                    //LoadDataTable();
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');
                    //LoadDataTable();
                }
            }
        })

        dptFromDate.change(function () {
            LoadFinishGoodReportList();
        })

        dptToDate.change(function () {
            LoadFinishGoodReportList();
        })
        ddlProductName.change(function () {
            LoadFinishGoodReportList();
        })
        function LoadFinishGoodReportList() {
            debugger;

            var data = { flag: "View", productId: TryParseInt(ddlProductName.val(), 0), fromDate: dptFromDate.val(), toDate: dptToDate.val() };

            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/GetFinishGoodStockReport', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            });

        }



        $("#btnDownload").click(function () {
            //if (dptFromDate.val() == "" && dptToDate.val() == "" && ddlProductName.val() == "") {
            //    bootbox.alert("Please Select Anyone");
            //}
            //else {
                window.open("/AgroConfiguration/GetFinishGoodStockQtyReport?fromDate=" + dptFromDate.val() + "&toDate=" + dptToDate.val() + "&rptType=" + rptType.val() + "&productId=" + ddlProductName.val());
            //}
        })

    </script>
}
