
@{
    ViewBag.Title = "GetInvoiceWiseSalesReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="row text-sm" style="margin-top:-20px">
    <div class="col-md-12">

        <div class="row" style="margin-top:-5px">
            <div class="col-md-12">
                <div class="card card-navy">
                    <div class="card-header" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6">
                                <h5 class="text-center text-bold">
                                    Product Wise Sales Statement
                                </h5>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin-top:-10px">
            <div class="col-md-12">
                <div class="card card-gray-dark">
                    <div class="card-header">
                        <div class="row justify-content-center">
                            <div class="col-md-1">
                                <h6 class="text-left">Search</h6>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control form-control-sm" id="searchByAny" placeholder="Search Invoice" />
                            </div>

                            <div class="col-md-2">
                                @Html.DropDownList("ddlStokiestName", (IEnumerable<SelectListItem>)ViewBag.ddlStokiestName, "--Stockiest--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                            </div>

                            <div class="col-md-2">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate"  placeholder="FromDate"/>
                                    <div class="input-group-prepend cursor-pointer remove-list-date dptFromDate" style="cursor:pointer">
                                        <span class="input-group-text">&#10008;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" placeholder="ToDate"/>
                                    <div class="input-group-prepend cursor-pointer remove-list-date dptToDate" style="cursor:pointer">
                                        <span class="input-group-text">&#10008;</span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class="input-group input-group-sm">
                                    <select class="form-control form-control-sm float-right select2" id="rptType" name="rptType">
                                        <option value="PDF">PDF</option>
                                        <option value="EXCEL">EXCEL</option>
                                    </select>
                                    <span class="input-group-append">
                                        <button type="button" id="btnDownload" title="Download" class="btn btn-block btn-info btn-flat"><i class="fas fa-download"></i></button>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>




@section scripts{
    <script type="text/javascript">

        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        var rptType = $("#rptType");
        var ddlStokiestName = $("#ddlStokiestName");
        var searchByAny = $("#searchByAny");

        $(document).ready(function () {
           
            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            }).on('change', function () {
                $('.datepicker').hide();
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            }).on('change', function () {
                $('.datepicker').hide();
            });

        })

        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');
                    
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');
                    
                }
            }
        })

        $("#btnDownload").click(function () {
            if (dptFromDate.val() == "" && dptToDate.val() == "" && ddlStokiestName.val() == "" && searchByAny.val() == "") {
                bootbox.alert("Please Select Anyone");
            }
            else {
                window.open("/AgroConfiguration/GetInvoiceWiseSalesReport?stockiestId=" + TryParseInt(ddlStokiestName.val(), 0) + " &fromDate=" + dptFromDate.val() + " &toDate=" + dptToDate.val() + " &rptType=" + rptType.val() + "&invoiceNo=" + $.trim(searchByAny.val()));
            }
        })
        
    </script>
}


