@{
    ViewBag.Title = "GetProductFinishGoodList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card  shadow card card-primary card-outline card-tabs" style="margin-top:-20px">
            <div class="card-header p-0 pt-1 border-bottom-0">

                <ul class="nav nav-tabs nav-pills" id="custom-tabs-two-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-two-producFinishGoodList-tab" data-toggle="pill" href="#custom-tabs-two-producFinishGoodList" role="tab" aria-controls="custom-tabs-two-producFinishGoodList" aria-selected="false">FinishGood list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-finishGoodProduction-tab" data-toggle="pill" href="#custom-tabs-two-finishGoodProduction" role="tab" aria-controls="custom-tabs-two-finishGoodProduction" aria-selected="false">Finish Good Production</a>
                    </li>
                </ul>

            </div>

        </div>

        <div class="card-body shadow">
            <div class="tab-content" id="custom-tabs-two-tabContent">
                <div class="tab-pane fade show active" id="custom-tabs-two-producFinishGoodList" role="tabpanel" aria-labelledby="custom-tabs-two-producFinishGoodList-tab">
                    <div class="row" style="margin-top:-15px">
                        <div class="col-md-12">
                            <div class="card shadow card-gray-dark">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-navy shadow">
                                <div class="card-header">
                                    <h6 class="card-title">Search By</h6>
                                </div>
                                <div class="card-body text-sm">
                                    <div class="row" style="margin-top:-15px">

                                        <div class="col-md-2" style="margin-top:-5px">
                                            <label class="col-form-label">Receip Code </label>
                                            <input type="text" class="form-control form-control-sm" id="ddlReceipBatchCode1" placeholder="Search ReceipCode" />
                                        </div>

                                        <div class="col-md-2">
                                            <label class="control-label" for="ddlProduct1">Product</label>
                                            @Html.DropDownList("ddlProduct1", (IEnumerable<SelectListItem>)ViewBag.ddlProduct, "-Select Product-", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })

                                            <span class="error hide req-ddlProduct">Product Name is Required</span>
                                        </div>

                                    </div>
                                </div>

                                @*<div class="row text-sm">
                                        <div class="col-md-2">
                                            <h4>Search by:</h4>
                                        </div>
                                        <div class="col-md-3 float-right">
                                            <input type="text" class="form-control form-control-sm" id="searchByAny" placeholder="Search by any" />

                                        </div>
                                        <div class="col-7">

                                        </div>

                                    </div>*@

                            </div>


                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-12" style="margin-top:-10px">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 text-sm text-sm" id="dataContainer" style="overflow-y:scroll">
                                            @{Html.RenderAction("GetProductFinishGoodList", new { @flag = "Initial" });}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show " id="custom-tabs-two-finishGoodProduction" role="tabpanel" aria-labelledby="custom-tabs-two-finishGoodProduction-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-navy">
                                <div class="card-header" style="text-align: center;">

                                    <div class="row">
                                        <div class="col-md-3">

                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="text-center text-bold">

                                                Finish Good Production
                                            </h5>
                                        </div>
                                        <div class="col-md-3">

                                        </div>

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <input type="hidden" id="hdMeasurementId" />
                                        <input type="hidden" id="hdTargetValue" />
                                        <input type="hidden" id="hdQuantity" />
                                        @*<div class="col-md-3">
                                                <label class="control-label font-weight-bold" for="ddlOrganiation">Organization Name</label>
                                                <select class=" form-control form-control-sm" id="ddlOrganiation" name="ddlOrganiation">
                                                    <option value="">Select One</option>
                                                    <option value="9">Agro Farm</option>
                                                </select>
                                                <span class="error hide req-ddlOrganiation">Organization is required</span>
                                            </div>*@
                                        <div class="col-md-3">
                                            <label class="control-label" for="ddlProduct">Product</label>
                                            @Html.DropDownList("ddlProduct", (IEnumerable<SelectListItem>)ViewBag.ddlProduct, "-Select Product-", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })

                                            <span class="error hide req-ddlProduct">Product Name is Required</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label" for="ddlReceipBatchCode">Receip Code</label>
                                            @Html.DropDownList("ddlReceipBatchCode", (IEnumerable<SelectListItem>)ViewBag.ddlReceipBatchCode, "--Select Batch--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                                            <span class="error hide req-ddlReceipBatchCode">Batch Code Is Required</span>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="qty"> Qty</label>
                                            <input type="text" id="qty" name="qty" class="form-control form-control-sm" readonly />
                                            <span class="error hide req-qty">Qty Is Required</span>

                                        </div>
                                        <div class="col-md-2">
                                            <label for="targetQty" class="control-label"> Target Qty</label>
                                            <input type="number" id="targetQty" class="form-control form-control-sm" />
                                            <span class="error hide req-targetQty"></span>
                                        </div>

                                        <div class="col-md-2">
                                            <label for="" class="control-label font-weight-bold" style="visibility:hidden"> Add To List</label>
                                            <div class="clearfix">
                                                <button type="submit" class="btn btn-sm btn-outline-warning" id="addTolist"><i class="fas fa-plus"></i> &nbsp; ADD TO LIST </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top:-10px">
                            <div class="card">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12" style="overflow-y:scroll">
                                                <table class="table table-bordered table-sm text-sm table-striped table-responsive-lg" id="tblFinishGoodProduction">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="6">
                                                                <button class="btn btn-outline-success btn-sm float-lg-right" id="btnSubmit">SAVE <i class="fas fa-paper-plane"></i> </button>
                                                            </th>
                                                        </tr>
                                                        <tr class="btn-dark">

                                                            <th>Raw Material</th>
                                                            <th>Per Qty</th>
                                                            <th>Total Production Qty</th>
                                                            <th>Required Qty</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="ModalProductionFinishGoodDetails" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @*<div class="modal-header alert-secondary">
                <h4 id="modalHeading" class="modal-title">Raw Material Consume Details</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>*@
            <div class="modal-body" id="dataContainer2">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var ddlOrganiation = $("#ddlOrganiation");
        var ddlProduct = $("#ddlProduct");
        var qty = $("#qty");
        var targetQty = $("#targetQty");
        var ddlReceipBatchCode = $("#ddlReceipBatchCode");
        var hdTargetValue = $("#hdTargetValue");
        var searchBatchCode = $("#searchBatchCode");
        var ddlProduct1 = $("#ddlProduct1");
        var ddlReceipBatchCode1 = $("#ddlReceipBatchCode1");
        var hdQuantity = $("#hdQuantity");


        $(document).ready(function () {
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            $("#btnSubmit").hide();
        })



        ddlReceipBatchCode.change(function () {


           LoadQuantityData();
            LoadTergetQuantityData();
        })

        ddlReceipBatchCode1.keyup(function () {
            LoadFinishGoodList()
        })

        ddlProduct1.change(function () {
            LoadFinishGoodList()
        })

        function LoadFinishGoodList() {
            debugger;

            var data = { flag: "View", productId: TryParseInt(ddlProduct1.val(), 0), ReceipeBatchCode: ddlReceipBatchCode1.val()};

            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/GetProductFinishGoodList', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            });

        }




        $(document).on('click', 'a.data-item-detail', function (e) {
            e.preventDefault();
            $("#dataContainer2").empty();
            debugger;
          
            var finishGoodProductionBatch = $(this).parent().parents('tr').children('td').eq(1).html();
            //var finishGoodProductionBatch = $(this).parent().parents('tr').children('td').eq(2).html();
            //var finishGoodProductionBatch = $(this).parent().parents('tr').children('td').eq(3).html();
            //var finishGoodProductionBatch = $(this).parent().parents('tr').children('td').eq(4).html();
            //var finishGoodProductionBatch = $(this).parent().parents('tr').children('td').eq(5).html();
            //var finishGoodProductionBatch = $(this).parent().parents('tr').children('td').eq(6).html();
            //var finishGoodProductionBatch = $(this).parent().parents('tr').children('td').eq(7).html();
            //var finishGoodProductionBatch = $(this).parent().parents('tr').children('td').eq(8).html();

            var data = { flag: "Detail", finishGoodProductionBatch: finishGoodProductionBatch };
                $.when(getReqWithData('html', 'GET', '/AgroConfiguration/GetProductFinishGoodList', data)).then(function (res, status) {
                    console.log(status);
                    if (status === "success") {
                        $("#dataContainer2").empty();
                        $("#dataContainer2").append(res);
                        $("#ModalProductionFinishGoodDetails").modal('show');
                    }
                }).fail(function (error) {
                    console.log(error);
                })

        })


        ddlProduct.change(function () {

            //debugger;
            clearDropdown("ddlReceipBatchCode");
            if (ddlProduct.val() != "") {

                LoadDropDown('/AgroConfiguration/GetReceipyCodeByProductionId', 'POST', ddlReceipBatchCode, JSON.stringify({ finishGoodProductId: ddlProduct.val() }));
            }
           // $("#ddlRequesition option:not(:first)").remove();


        })



        function LoadQuantityData() {
            var data = { receipeBatchCode: ddlReceipBatchCode.val() };

            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetReceipyByProductionId", data)).then(function (res, status) {
                debugger;
                consoleLog(res.replace(/['"]+/g, ''));
                //console.log(res);
                console.log(res.quantity)
                var UnitQty = res.replace(/['"]+/g, '');
                qty.val(UnitQty);

                var qa = UnitQty.split('(')
                var qar = qa[0]
                var fq = qar.replace(/['"]+/g, '');
                hdQuantity.val(fq);
      
            });
        }


        function LoadTergetQuantityData() {
            var data = { receipeBatchCode: ddlReceipBatchCode.val() };

            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetReceipyTergetQty", data)).then(function (res, status) {
                debugger;
                //qty.val(res);
                targetQty.val(res);
                hdTargetValue.val(res);

            });
        }

        $("#addTolist").click(function (e) {
            e.preventDefault();
            debugger;
            var data = { receipeBatchCode: ddlReceipBatchCode.val(), targetQty: targetQty.val() };

            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetReceipyDetailsByreceipeBatchCode", data)).then(function (res, status) {
                debugger;
                console.log(res);
                var sl = 0;
                material = JSON.parse(res)
                console.log(material);
                var len = material.length;
                console.log("length: " + len);
                console.log("Target Value: " + targetQty.val() + " Hidden Target Value: " + hdTargetValue.val());
                console.log(targetQty.val() <= hdTargetValue.val());
                if (Number(targetQty.val()) <= Number( hdTargetValue.val())) {


                    //console.log(material[0].RawMaterialName);
                    $.each(material, function (index, value) {

                        var td1 = "<td>" + value.RawMaterialName + "</td>";
                        var td5 = "<td class='hide'>" + value.RawMaterialId + "</td>";
                        var td2 = "<td>" + value.FGRRawMaterQty + "</td>";
                        var td3 = "<td>" + targetQty.val() + "</td>";
                        var td4 = "<td>" + (value.FGRRawMaterQty * targetQty.val()) + "</td>";
                        var tr = "<tr>" + td1 + td2 + td3 + td4 + td5 + "</tr>";
                        $("#tblFinishGoodProduction tbody").append(tr)
                        $("#btnSubmit").show();


                    })

                }
                else {
                    alert("Issue Quantity Not Sufficient Please Check Target Quantity");
                }

                });


        })

        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            var data = {};
            var finishGoodProduction = { finishGoodProductId: ddlProduct.val(), quanity: TryParseInt(hdQuantity.val(), 0), targetQuantity: targetQty.val(), receipeBatchCode: ddlReceipBatchCode.val() }

            var details = [];
            details.length = 0;

            $.each($("#tblFinishGoodProduction tbody tr"), function (index, item) {
                var tds = $(this).children('td');
                details.push({
                    RawMaterialId: tds.eq(4).html(),
                    ReceipeBatchCode: tds.eq(6).html(),
                    FGRRawMaterQty: tds.eq(1).html(),
                    TotalQuantity: tds.eq(2).html(),
                    RequiredQuantity: tds.eq(3).html()

                });
            })

            var data = JSON.stringify({ info: finishGoodProduction, details: details })
            $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, "/AgroConfiguration/SaveFinishGoodProduction", data, getToken())).then(function (res, status) {
                if (status == "success") {
                    $('.toastrDefaultSuccess').trigger('click');
                     setTimeout(function () {
                        redirectPage('@Url.Action("GetProductFinishGoodList")');
                    }, 1000);


                }


            }).fail(function (error) {

                alert(execuStatus.fail);
            })

        });



        function redirectPage(page) {
            window.location.replace(page);
        }


    </script>


}