@{
    ViewBag.Title = "GetRequisition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">


        @Html.AntiForgeryToken()

        <div class="row" style="margin-top:-25px">
            <div class="col-md-12">
                <div class="card shadow card-navy">
                    <div class="card-header shadow">
                        <div class="row">

                            <div class="col-md-12">
                                <h5 class="text-center text-bold">
                                    Raw Material Requsition List
                                </h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>






        <div class="row" style="margin-top:-15px">
            <div class="col-md-12">
                <div class="card card-gray-dark">
                    <div class="card-header">
                        <div class="row justify-content-center">
                            <div class="col-md-2">
                                <h5 class="text-left">Search By</h5>
                            </div>
                            <div class="col-md-3">
                    
                                <input type="text" name="search" id="txtReqCode" class="form-control form-control-sm" placeholder="Search By Requisition Code" onkeyup="tableFilter('#tblReqInfoData tbody tr',this)" />
                            </div>
                            <div class="col-md-2">
                         
                                <select class="form-control form-control-sm" id="ddlStatus">
                                    <option value="">--Status--</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Send">Send</option>
                                    <option value="Received">Received</option>
                                    <option value="Rejected">Rejected</option>

                                </select>

                            </div>
                            <div class="col-md-2">
                     
                                <div class="input-group input-group-sm ">
                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" placeholder="From Date" />
                                    <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                        <span class="input-group-text">&#10008;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">

                                <div class="input-group input-group-sm ">
                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" placeholder="To Date"/>
                                    <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                        <span class="input-group-text">&#10008;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12" style="margin-top:-10px">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-sm" id="dataContainer">
                                @*@{Html.RenderAction("GetRequisition",new {flag="List" });}*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>

<div class="row">
    <div class="modal fade" id="modalRequsition" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header alert-secondary" style="height:60px">
 
                    <h4 id="modalHeading" class="modal-title">
                        Requsition  Details
                    </h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="dataContainer2">

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">

        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        var ddlStatus = $("#ddlStatus");
        var txtReqCode = $("#txtReqCode");
        $(document).ready(function () {

            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptFromDate2').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptToDate2').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });

            loadRequistion();
        })



        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');
                    loadRequistion();
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');
                    loadRequistion();
                }
            }
            
        })

        txtReqCode.keyup(function () {

            loadRequistion();
        });

        ddlStatus.change(function () {

            loadRequistion();


        });
        dptFromDate.change(function () {
            loadRequistion();

        });

        dptToDate.change(function () {
            loadRequistion();

        });



        function loadRequistion() {

            var data = { flag: "list", RequisitonCode: txtReqCode.val(), status: ddlStatus.val(), tdate: dptToDate.val(), fdate: dptFromDate.val() };

            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/GetRequisition', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            });

        }
        function ModalOpen() {
     
            $("#modalRequsition").Modal("show")

        }
        $(document).on("click", "a.data-item-Details", function (e) {
            e.preventDefault();

  
            $("#dataContainer2").empty();

            var infoId = $(this).attr('data-item-Details');

            

            var data = { flag: "Details", infoId: infoId };
            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/GetRequisition', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer2").empty();
                    $("#dataContainer2").append(res);
                    $("#modalRequsition").modal('show');
                }
            }).fail(function (error) {
                console.log(error);
            })



        })

        

    </script>



}