
@{
    ViewBag.Title = "GetRawMaterial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 text-center">
        <div class="card card-gray shadow">
            <div class="card-header">
                <h4>Raw Material</h4>

            </div>

        </div>

    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">
                <div class="row tex-sm">
                    <div class="col-md-3">
                        <h4>Search by:</h4>

                    </div>
                    @*<div class="col-md-3">

                        @Html.DropDownList("ddlDepotNameforSearch", (IEnumerable<SelectListItem>)ViewBag.ddlDepotName, "--Search by Depot--", new { @class = "form-control ctrl-changed select2 select2-danger ctrl-changed" })

                    </div>*@
                    <div class="col-md-3">
                        @Html.DropDownList("ddlRawMaterial", (IEnumerable<SelectListItem>)ViewBag.ddlRawMaterial, "--Search by Material--", new { @class = "form-control ctrl-changed select2 setect2-danger" })

                    </div>
                    @*<div class="col-md-3">

                        </div>*@

                    <div class="col-md-3 text-right">
                        <button type="button" class="btn btn-primary btn-sm" id="btnAdd"><i class="fa-fa-plus">Add New Metarial</i></button>

                    </div>
                </div>
            </div>


        </div>

    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <div class="row text-center" id="dataContainer">
                    @{Html.RenderAction("GetRawMaterial", new { @flag = "Raw" }); }
                    @*<h4 class="text-center" style="color:red">Loading</h4>*@

                </div>
            </div>

        </div>

    </div>

</div>


<div class="modal" id="rawmetarialModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead"></span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="formRawMetarial">
                    <input type="hidden" id="hdmaterialId" />
                    <div class="col-md-12 hide">
                        <label class="control-label font-weight-bold">Organization</label>

                        @Html.DropDownList("ddlOrganization", (IEnumerable<SelectListItem>)ViewBag.ddlOrganization, "--Select Organization--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })

                        <span class="error hide required-ddlOrganization font-weight-bold">Organization Name is Required</span>

                    </div>

               

                    <div class="col-md-12">
                        <label class="control-label font-weight-bold">Raw Material Name</label>
                        <input type="text" id="rawMaterialName" class="form-control form-control-sm" />
                        <span class="error hide required-raqMaterialName">Material Name is Required</span>


                    </div>
                   
                    <input type="hidden" id="hdunitId" />
                    <div class="col-md-12">
                        <label for="ddlUnit" class="control-label font-weight-bold">Unit Name</label>
                        @Html.DropDownList("ddlUnit", (IEnumerable<SelectListItem>)ViewBag.ddlUnit, "--Select Unit--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })

                        <span class="error hide required-UnitName font-weight-bold">Unit Name is Required</span>
                    </div>

                    <div class="col-md-12">
                        <label for="ddlStatus" class="control-label">Status</label>
                        <select class="form-control form-control-sm" id="ddlStatus">
                            <option value="Active">Active</option>
                            <option value="InActive">InActive</option>
                        </select>
                    </div>

                </form>


            </div>
            <div class="modal-footer btn-light">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been Successfully Saved
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been faild to Save
                    </div>
                </div>
                <button id="btnCancel" type="button" class="btn btn-sm btn-outline-danger float-right"><i class="fas fa-paper-plane " data-dismiss="modal" data-target="#">Cancel</i> </button>
                <button type="submit" id="btnSave" class="btn btn-sm btn-outline-success float-right"><i class="fas fa-paper-plane"></i> <span id="spanSaveText">Save</span> </button>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">
        var hdmaterialId = $("#hdmaterialId");
        var hdunitId = $("#hdunitId");
        //var ddlDepotName = $("#ddlDepotName");
       // var ddlOrganization = $("#ddlOrganization");
        //var expairDate = $("#expairDate");
        var remarks = $("#remarks");
        var rawMaterialName = $("#rawMaterialName");
        var ddlRawMaterial = $("#ddlRawMaterial");
       // var ddlDepotNameforSearch = $("#ddlDepotNameforSearch");
        var ddlStatus = $("#ddlStatus");
        var ddlUnit = $("#ddlUnit");



        $(document).ready(function () {
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            expairDate.prop('readonly', true);
            expairDate.prop('readonly', true);
            expairDate.css("background-color", "#fff");
            expairDate.css("background-color", "#fff");
            $('#expairDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });


        })


        function OpenModal() {
            $("#spanModalHead").text("Add New Raw Material");
            $("#rawmetarialModal").modal("show");
            $(".error").addClass("hide");


        }
        $("#btnAdd").click(function (e) {

            e.preventDefault();

            ClearCtrl();
            OpenModal();


        })

        ddlRawMaterial.change(function () {
            loadRawMaterial();

        })

        function loadRawMaterial() {
            data = { flag: 'Search',rawmaterialName: ddlRawMaterial.val() };
            $.when(getReqWithData("html", 'Get', '/AgroConfiguration/GetRawMaterial', data)).then(function (res, status) {
                if (status == "success") {
                    $("#dataContainer").fadeOut("500", function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn("500");
                    })



                }

            }).fail(function (error) {
                Console.log(error);

            });

        }

        $("#btnSave").click(function (e) {
            var ee = ddlUnit.val();
            console.log(ee);
            e.preventDefault();
            debugger;
            var data = { RawMaterialName: rawMaterialName.val(), rawMaterialId: hdmaterialId.val(), Status: ddlStatus.val(), UnitId: TryParseInt(ddlUnit.val(), 0) }
            if (formValidation() == true) {
                $.when(postReqWithToken(dataType.applicationJson, dataType.json, "POST", "/AgroConfiguration/SaveRawMaterial", JSON.stringify(data), getToken())).then(function (res, status) {
                    //console.log('respons' + JSON.parse( res));
                    console.log(status);
                    if (res == true) {
                        message("#msg1", "#rawmetarialModal");
                    }
                    else {
                        message("#msg2");
                    }

                })

            }



        })

        $(document).on("click", "a.data-edit-item-rawMaterialId", function (e) {
            debugger;
            e.preventDefault()



            ClearCtrl();
            var row = $(this).parent().parents('tr');
            var td1 = row.find('td:eq(0)').html();
            var td2 = row.find('td:eq(2)').html();
            var td3 = row.find('td:eq(3)').html();
            var td4 = row.find('td:eq(4)').html();
            var td5 = row.find('td:eq(5)').html();
            //var td6 = row.find('td:eq(6)').html();
            var td8 = row.find('td:eq(6)').html();
            var td9 = row.find('td:eq(7)').html();

            rawMaterialName.val(td3);
            ddlUnit.val(td9);
            ddlUnit.trigger("change");
            ddlStatus.val(td5);
            ddlStatus.trigger("change");
            
            //expairDate.val(td6);
            //ddlOrganization.val(td8);
            //ddlOrganization.trigger("change");

            //ddlDepotName.val(td2);
            //ddlDepotName.trigger("change");

            //ddlStatus.val(td6);

            hdmaterialId.val(td1);



            OpenModal();
            $("#spanModalHead").text('Update RawMaterial');
            $("#spanSaveText").text('Update');
        })

        function formValidation() {
            Isvalid = true;
            $('.error').addClass("hide");
            //if ($.trim(ddlOrganization.val()) == 0) {
            //    $('.required-ddlOrganization').removeClass("hide");
            //    Isvalid = false;
            //}
            //if ($.trim(ddlDepotName.val()) == 0) {
            //    $('.required-ddlDepotName').removeClass("hide");
            //    Isvalid = false;
            //}
            if ($.trim(rawMaterialName.val()) == "") {
                $('.required-raqMaterialName').removeClass("hide");
                Isvalid = false;
            }
            //if ($.trim(expairDate.val()) == "") {
            //    $('.required-expairDate').removeClass("hide");
            //    Isvalid = false;
            //}
            return Isvalid

        }
        function ClearCtrl() {
            rawMaterialName.val("");
            //remarks.val('');
            //expairDate.val('');
            //ddlOrganization.val('');
            //ddlDepotName.val('');
            hdmaterialId.val('0');

        }




    </script>

}


