
@{
    ViewBag.Title = "GetReturnRawMaterialReportList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-sm" style="margin-top:-15px">
    <div class="col-md-12">

        <div class="row" style="margin-top:-5px">
            <div class="col-md-12">
                <div class="card" style="background-color:#001f3f">
                    <div class="px-2 py-1" style="text-align: center;">
                        <div class="row align-items-center">
                            
                            <div class="col-md-2">
                                <h5 class="float-left text-bold text-white">
                                    Return RM Report
                                </h5>
                            </div>

                            <div class="col-md-2">
                                @*<label for="ddlRawMaterial">Select RawMaterial</label>*@
                                @Html.DropDownList("ddlRawMaterial", (IEnumerable<SelectListItem>)ViewBag.ddlRawMaterial, "--RawMaterial--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                            </div>

                            <div class="col-md-2">
                                @*<label for="ddlReturnType">Return Type</label>*@
                                <select class="form-control form-control-sm select2" id="ddlReturnType">
                                    <option value="" selected>--ReturnType--</option>
                                    <option value="Good">Good</option>
                                    <option value="Damage">Damage</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                @*<label for="ddlStatus">Status</label>*@
                                <select class="form-control form-control-sm select2" id="ddlStatus">
                                    <option value="" selected>--Status--</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Approved">Approved</option>
                                </select>
                            </div>



                            <div class="col-md-1">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" placeholder="FromDate" />
                                    <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                        <span class="input-group-text p-0">&#10008;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" placeholder="ToDate" />
                                    <div class="input-group-prepend cursor-pointer remove-date dptToDate" style="cursor:pointer">
                                        <span class="input-group-text p-0">&#10008;</span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-1">
                                <div class="input-group input-group-sm">
                                    <select class="form-control form-control-sm float-right select2" id="rptType" name="rptType">
                                        <option value="PDF">PDF</option>
                                        <option value="EXCEL">EXCEL</option>
                                    </select>
                                    <span class="input-group-append">
                                        <button type="button" id="btnDownload" title="Download" class="btn btn-block btn-info btn-flat p-0 pr-1"><i class="fas fa-download"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin-top:-17px">
            <div class="col-md-12">
                <div class="card card-gray-dark">
                    
                </div>
            </div>

            <div class="col-md-12" style="margin-top:-10px">
                <div class="card">
                    <div class="card-body"style="margin-top:-10px">
                        <div class="col-md-12" id="dataContainer">

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>




@section scripts{
    <script type="text/javascript">

        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        var rptType = $("#rptType");
        var ddlStatus = $("#ddlStatus");
        var ddlReturnType = $("#ddlReturnType");
        var ddlRawMaterial = $("#ddlRawMaterial");

        $(document).ready(function () {

            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,

            }).on('change', function () {
                $('.datepicker').hide();
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,

            }).on('change', function () {
                $('.datepicker').hide();
            });
            LoadReturnList();
        })

        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');

                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');

                }
            }
        })

        

        dptFromDate.change(function () {
            LoadReturnList();
        })

        dptToDate.change(function () {
            LoadReturnList();
        })
        ddlRawMaterial.change(function () {
            LoadReturnList();

        });

        ddlReturnType.change(function () {

            LoadReturnList();
        })

        ddlStatus.change(function () {

            LoadReturnList();
        })

        function LoadReturnList() {
            debugger;

            var data = { flag: "View", rawMaterialId: TryParseInt(ddlRawMaterial.val(), 0), returnType: ddlReturnType.val(), status: ddlStatus.val(), fromDate: dptFromDate.val(), toDate: dptToDate.val() };

            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/GetReturnRawMaterialReportList', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            });

        }



        $("#btnDownload").click(function () {
            if (ddlRawMaterial.val() && ddlReturnType.val() && ddlStatus.val() && dptFromDate.val() == "" && dptToDate.val() == "") {
                bootbox.alert("Please Select Anyone");
            }
            else {
                window.open("/AgroConfiguration/GetReturnRawMaterialReport? &fromDate=" + dptFromDate.val() + " &toDate=" + dptToDate.val() + " &rptType=" + rptType.val() + "&rawMaterialId=" + TryParseInt(ddlRawMaterial.val(), 0) + "&returnType=" + ddlReturnType.val() + " &status=" + ddlStatus.val());
            }
        })

    </script>
}




