
@{
    ViewBag.Title = "GetSalesReturnReportList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row text-sm" style="margin-top:-15px">
    <div class="col-md-12">

        <div class="row" style="margin-top:-5px">
            <div class="col-md-12">
                <div class="card" style="background-color:#001f3f">
                    <div class="px-2 py-1" style="text-align: center;">
                        <div class="row align-items-center">

                            <div class="col-md-2">
                                <h5 class="text-center text-bold text-white">
                                    S.Return Report
                                </h5>
                            </div>
                            <div class="col-md-2">

                                <input type="text" class="form-control form-control-sm" id="SearchAny" placeholder="search By invoice" />
                            </div>

                            <div class="col-md-2">

                                @Html.DropDownList("ddlStockiestName", (IEnumerable<SelectListItem>)ViewBag.ddlStockiestName, "--StockiestName--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                            </div>


                            <div class="col-md-2">

                                @Html.DropDownList("ddlProductName", (IEnumerable<SelectListItem>)ViewBag.ddlProductName, "--ProductName--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                            </div>


                            <div class="col-md-1">

                                <select class="form-control form-control-sm select2" id="ddlStatus">
                                    <option value="" selected>--Status--</option>
                                    <option value="ADJUST">ADJUST</option>
                                    <option value="NOTADJUST">NOTADJUST</option>
                                </select>
                            </div>


                            <div class="col-md-1">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" placeholder="FromDate" />
                                    <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                        <span class="input-group-text p-0">&#10008;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" placeholder="ToDate" />
                                    <div class="input-group-prepend cursor-pointer remove-date dptToDate" style="cursor:pointer">
                                        <span class="input-group-text p-0">&#10008;</span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-1">
                                <div class="input-group input-group-sm">
                                    <select class="form-control form-control-sm float-right select2" id="rptType" name="rptType">
                                        <option value="PDF">PDF</option>
                                        <option value="EXCEL">EXCEL</option>
                                    </select>
                                    <span class="input-group-append">
                                        <button type="button" id="btnDownload" title="Download" class="btn btn-block btn-info btn-flat p-0 pr-1"><i class="fas fa-download"></i></button>
                                    </span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin-top:-3px">
            
            <div class="col-md-12" style="margin-top:-10px">
                <div class="card">
                    <div class="card-body"style="margin-top:-10px">
                        <div class="col-md-12" id="dataContainer">

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>




@section scripts{
    <script type="text/javascript">

        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        var rptType = $("#rptType");
        var ddlStatus = $("#ddlStatus");
        var ddlProductName = $("#ddlProductName");
        var ddlStockiestName = $("#ddlStockiestName");
        var SearchAny = $("#SearchAny");
        
        

        $(document).ready(function () {

            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,

            }).on('change', function () {
                $('.datepicker').hide();
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,

            }).on('change', function () {
                $('.datepicker').hide();
            });
            LoadSalesReturnReportList();
        })

        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');

                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');

                }
            }
        })

        SearchAny.keyup(function () {
            LoadSalesReturnReportList();
        })

        dptFromDate.change(function () {
            LoadSalesReturnReportList();
        })

        dptToDate.change(function () {
            LoadSalesReturnReportList();
        })
        

        ddlProductName.change(function () {

            LoadSalesReturnReportList();
        })
        ddlStockiestName.change(function () {

            LoadSalesReturnReportList();
        })

        ddlStatus.change(function () {

            LoadSalesReturnReportList();
        })

        function LoadSalesReturnReportList() {
            debugger;

            var data = { flag: "View", productId: TryParseInt(ddlProductName.val(), 0), stockiestId: TryParseInt(ddlStockiestName.val(), 0), invoiceNo: $.trim(SearchAny.val()), status: ddlStatus.val(), fromDate: dptFromDate.val(), toDate: dptToDate.val() };

            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/GetSalesReturnReportList', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            });

        }



        $("#btnDownload").click(function () {
            if (ddlProductName.val() && ddlStatus.val() && dptFromDate.val() == "" && dptToDate.val() == "" && ddlStockiestName.val() == "" && SearchAny.val() == "") {
                bootbox.alert("Please Select Anyone");
            }
            else {
                window.open("/AgroConfiguration/GetSalesReturnReport?&fromDate=" + dptFromDate.val() + "&toDate=" + dptToDate.val() + "&rptType=" + rptType.val() + "&productId=" + TryParseInt(ddlProductName.val(), 0) + "&status=" + ddlStatus.val() + "&invoiceNo=" + $.trim(SearchAny.val()) + "&stockiestId=" + TryParseInt(ddlStockiestName.val(), 0));
            }
        })

    </script>
}



