<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline card-tabs" style="margin-top:-20px">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-AssignUserList-tab" data-toggle="pill" role="tab" aria-selected="true" href="#custom-tabs-AssignUserList" aria-controls="custom-tabs-AssignUserList">Assign User List</a>
                    </li>
                </ul>
            </div>

            <div class="card-body">
                <div class="tab-content" id="custom-tabs-two-tabContent">
                    @Html.AntiForgeryToken()
                    <div class="tab-pane fade show active" id="custom-tabs-AssignUserList" aria-labelledby="custom-tabs-AssignUserList-tab" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h4 class="text-center text-bold">Assign User Information</h4>
                                            </div>
                                            <div class="col-md-3">
                                                <a href="/AgroConfiguration/SaveUserAssignInformation" class="btn btn-outline-primary btn-sm float-lg-right" id="createButton"><i class="fa fa-plus"></i> Assign User</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <h4 class="card-title">Search By</h4>
                                    </div>

                                    <div class="card-body text-sm">
                                        <div class="row" style="margin-top:-15px">
                                            <div class="col-md-3">
                                                <label for="label1" class="control-label">label1</label>

                                  
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12" id="dataContainer">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

