
@{
    ViewBag.Title = "GetZoneInfo";
}

<div class="row text-sm">
    <div class="col-md-12">
        <div class="card card-primary card-outline card-tabs" style="margin-top:-15px">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-ZoneList-tab" data-toggle="pill" href="#custom-tabs-ZoneList" aria-controls="custom-tabs-ZoneList" aria-selected="true" role="tab">Zone List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-ZoneSetupList-tab" data-toggle="pill" href="#custom-tabs-ZoneSetupList" aria-controls="custom-tabs-ZoneSetupList" aria-selected="true" role="tab">Zone Setup</a>
                    </li>

                </ul>
            </div>



            <div class="card-body">
                <div class="tab-content" id="custom-tabs-two-tabContent" style="margin-top:-15px">
                    @Html.AntiForgeryToken()
                    <div class="tab-pane fade show active" id="custom-tabs-ZoneList" role="tabpanel" aria-labelledby="custom-tabs-ZoneList-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Zone List
                                                </h5>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <h4>Search by:</h4>
                                            </div>
                                            @*<div class="col-md-3 float-right" style="margin-left:-20px">
                                                    <input type="text" class="form-control form-control-sm" id="searchByAny" placeholder="Search by any" />

                                                </div>*@
                                        </div>

                                    </div>


                                    <div class="card-body text-sm">
                                        <div class="row" style="margin-top:-15px">
                                            <div class="col-md-3">
                                                <label for="ddlZoneName" class="control-label">Zone Name</label>
                                                @Html.DropDownList("ddlZoneName", (IEnumerable<SelectListItem>)ViewBag.ddlZoneName, "--Select Material--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })

                                            </div>

                                        </div>

                                    </div>


                                </div>
                            </div>

                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12" id="dataContainer">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="tab-pane fade show" id="custom-tabs-ZoneSetupList" role="tabpanel" aria-labelledby="custom-tabs-custom-tabs-ZoneSetupList-tab">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Add Zone
                                                </h5>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body text-sm">
                                        <div class="row" style="margin-top:-10px">
                                            <div class="col-md-2">
                                                <label for="txtZoneName" class="control-label">Zone Name</label>
                                                <input type="text" id="txtZoneName" class="form-control form-control-sm" />
                                                <span class="error hide required-txtZoneName font-weight-bold">Input Zone Name!</span>

                                            </div>
                                            <div class="col-md-2">
                                                <label for="ddlDivisionName" class="control-label">Division Name</label>

                                                <select id="ddlDivisionName" class="form-control form-control-sm select2">
                                                    <option value="" selected>---Select Division---</option>
                                                    <option value="1">Division1</option>
                                                    <option value="2">Division2</option>
                                                    <option value="3">Division3</option>
                                                    <option value="4">Division4</option>
                                                    <option value="5">Division5</option>
                                                </select>
                                                <span class="error hide required-ddlDivisionName font-weight-bold">Select Division Name!</span>

                                            </div>

                                            <div class="col-md-1 " style="margin-top:5px;">
                                                <label for="addButton" class="control-label"></label>
                                                <div class="clearfix">
                                                    <button type="submit" class="btn btn-outline-primary float-left " id="addButton" title="Add To List"><i class="fas fa-plus"></i> Add</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-sm text-sm table-responsive-lg" id="tblMargeItem">
                                    <thead>
                                        <tr>
                                            <th colspan="9">
                                                <button class="btn btn-outline-success btn-sm float-lg-left mt-2" id="saveButton">SAVE <i class="fas fa-paper-plane"></i></button>
                                            </th>
                                        </tr>

                                        <tr class="text-center btn-dark">
                                            <th style="width:5%">#SL</th>
                                            <th style="width:15%">Zone Name</th>
                                            <th style="width:10%">Division Name</th>
                                            <th style="width:10%">Action</th>
                                            <th class="hide DivisionId"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="ZoneModalEdit" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary">
                <h4 id="modalHeading" class="modal-title">Zone Edit</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="dataContainer1">

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ZoneModalDetails" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary">
                <h4 id="modalHeading" class="modal-title">Zone Details</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="dataContainer2">

            </div>
        </div>
    </div>
</div>



@section scripts{

    <script type="text/javascript">

    var ddlZoneName = $("#ddlZoneName");
    var txtZoneName = $("#txtZoneName");
    var ddlDivisionName = $("#ddlDivisionName");
    var searchByAny = $("#searchByAny");
    var DivisionNameList = [];

    $(document).ready(function () {
        $('.select2').select2();

        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        $("#ddlDivisionName").hide();
        $("#saveButton").hide();


        LoadZoneList()
    })



    ddlZoneName.change(function () {

        LoadZoneList();
    })

    //searchByAny.keyup(function () {
    //    LoadZoneList()
    //})

    function LoadZoneList() {
        var data = { flag: "View", ZoneId: TryParseInt(ddlZoneName.val(), 0), id: 0 };

        $.when(getReqWithData('html', 'GET', '/AgroConfiguration/GetZoneInfo', data)).then(function (res, status) {
            console.log(status);
            if (status === "success") {
                $("#dataContainer").fadeOut('500', function () {
                    $("#dataContainer").empty();
                    $("#dataContainer").append(res).fadeIn('500');
                });
            }
        }).fail(function (error) {
            console.log(error);
        });
    }


    function validates() {
        var isValid = true;
        $(".error").addClass('hide');

        if (txtZoneName.val() === "") {
            $(".required-txtZoneName").removeClass('hide');
            isValid = false;
        }
        if (ddlDivisionName.val() === "") {
            $(".required-ddlDivisionName").removeClass('hide');
            isValid = false;
        }

        return isValid;
    }


    $("#addButton").click(function (e) {
        e.preventDefault();


        if (true) {

            if (DivisionNameList.includes(ddlDivisionName.val())) {
                toastrErrorAlert(" Division Name Already Exist");
            }
            else {
                debugger;
            var sl = $("#tblMargeItem tbody tr").length;
            var td1 = "<td class='text-center align-middle'><b>" + (sl + 1) + "</b></td>"
            var td2 = "<td class='text-center align-middle'>" + txtZoneName.val() +"</td>";
            var td3 = "<td class='text-center align-middle'>" + dropDownSelectedText("ddlDivisionName") + "</td>";
            var td4 = "<td class='text-center'><a href='#' class='btn btn-sm btn-danger data-onfly-del'><i class='far fa-trash-alt'></i> Delete</a></td>";
            var td5 = "<td class='hide DivisionId'>" + ddlDivisionName.val() + "</td>";
            var tr = "<tr>" + td1 + td2 + td3 + td4 + td5 +"</tr>";


            $("#tblMargeItem tbody").append(tr);
            $("#saveButton").show();

            disable(txtZoneName);

                DivisionNameList.push(ddlDivisionName.val());

            }

           //ClearData();

        }


    })

    $(document).on("click", "a.data-onfly-del", function (e) {
        e.preventDefault();
        var index = $(this).parent().parents('tbody tr').index();
        var tds = $(this).parent().parents('tbody tr').children('td');

        var ZoneId = tds.eq(1).html();
        console.log("ZoneId :" + ZoneId);
        const mid = DivisionNameList.indexOf(ZoneId);
        DivisionNameList.splice(mid, 1);




        removeTableRow("#tblMargeItem tbody", index);
        fnFixTheTbodyRowSerial("#tblMargeItem tbody", index);
    })


    function ClearData() {
        txtZoneName.val("");
        //ddlDivisionName.val("");

    }

    $("#saveButton").click(function (e) {
        e.preventDefault();
        //$(".error").addClass("hide");
        debugger;
        if (true) {

            var info = { ZoneName: txtZoneName.val(), DivisionId: TryParseInt(ddlDivisionName.val(),0) };

            var details = [];
            details.length = 0;

            $.each($("#tblMargeItem tbody tr"), function (index, item) {
                var tds = $(this).children('td');
                details.push({

                    DivisionId: tds.eq(4).html()

                });
            })
            console.log(info);
            console.log(details);

            var data = JSON.stringify({ details: details, viewModel: info });

            $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/SaveZoneInfo', data, getToken())).then(function (res, status) {
                console.log(status);
                console.log(res);
                if (res == true) {
                    $('.toastrDefaultSuccess').trigger('click');

                    setTimeout(function () {
                        redirectPage('@Url.Action("GetZoneInfo")');
                    },1000)

                }
                else {
                    $('.toastrDefaultError').trigger('click');
                }
                enable("#saveButton");
            }).fail(function (err) {
                console.log(err);
                enable("#saveButton");
            });


        }
    })


    function redirectPage(page) {
        window.location.replace(page);
    }

    </script>

}
