
@{
    ViewBag.Title = "MoneyReceiptList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:-12px">
    <div class="col-md-12">

        <div class="row" style="margin-top:-12px">
            <div class="col-md-12">
                <div class="card" style="background-color:#001f3f">
                    <div class="px-2 py-1">
                        <div class="row align-items-center" >

                            <div class="col-md-2">
                                <h7 class="float-left text-bold text-white">Money Receipt List</h7>
                            </div>
                            
                            <div class="col-md-2">

                                <input type="text" class="form-control form-control-sm" id="SearchAny" placeholder="search By any" />
                            </div>
                            <div class="col-md-2">

                                @Html.DropDownList("ddlStockiestName", (IEnumerable<SelectListItem>)ViewBag.ddlStockiestName, "--Select Stockiest--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                            </div>

                            <div class="col-md-2">

                                <div class="input-group input-group-sm ">
                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" placeholder="From Date" />

                                </div>
                            </div>
                            <div class="col-md-2">

                                <div class="input-group input-group-sm ">
                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" placeholder="To Date" />

                                </div>
                            </div>
                            <div class="col-md-2">
                                <a href="/AgroConfiguration/SalesPaymentCreate" class="das2-btn float-lg-right" id="createButton"><i class="fa fa-plus"></i> Create New Payment</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row" style="margin-top:-3px">


            <div class="col-md-12" style="margin-top:-13px">

                        <div class="col-md-12 p-0" id="dataContainer">

                        </div>

            </div>

        </div>


    </div>

</div>

<div class="modal fade" id="MoneyReceiptListDetails" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-gray-dark">
                <h4 id="modalHeading" class="modal-title">Money Receipt List Details</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="dataContainer2">

            </div>
        </div>
    </div>
</div>


@section scripts{

    <script type="text/javascript">

        var SearchAny = $("#SearchAny");
        var ddlStockiestName = $("#ddlStockiestName");
        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");


        $(document).ready(function () {

            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
           

            LoadMoneyReceiptList()

        })


        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');
                    LoadMoneyReceiptList();
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');
                    LoadMoneyReceiptList();
                }
            }

        })

        SearchAny.keyup(function () {
            LoadMoneyReceiptList()
        })

        ddlStockiestName.change(function () {

            LoadMoneyReceiptList();

        });
        dptFromDate.change(function () {
            LoadMoneyReceiptList();

        });

        dptToDate.change(function () {
            LoadMoneyReceiptList();

        });


        function LoadMoneyReceiptList() {
            debugger;

            var data = { flag: "View", moneyReceiptNo: $.trim(SearchAny.val()), stockiestId: TryParseInt(ddlStockiestName.val(), 0), fromDate: dptFromDate.val(), toDate: dptToDate.val() };

            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/MoneyReceiptList', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            });

        }

        $(document).on('click', 'a.data-item-detail', function (e) {
            e.preventDefault();
            debugger;
            //$("#dataContainer2").empty();

            var id = $(this).parent().parents('tr').children('td').eq(1).html();

         
         
                var data = { flag: "Detail", id: id };
            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/MoneyReceiptList', data)).then(function (res, status) {
                debugger;
                    console.log(status);
                if (status === "success") {
                    debugger;
                        $("#dataContainer2").empty();
                        $("#dataContainer2").append(res);
                        $("#MoneyReceiptListDetails").modal('show');

                    }
                }).fail(function (error) {
                    console.log(error);
                })
        
        })

    </script>
}


