
@{
    ViewBag.Title = "ProductionPriceList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="margin-top:-10px">
    <div class="col-md-12">


        <div class="row" style="margin-top:-15px">
            <div class="col-md-12">
                <div class="card card-navy">
                    <div class="card-header" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" class="form-control form-control-sm" id="SearchAny" placeholder="FG Product Name" />
                            </div>
                            <div class="col-md-6">
                                <h5 class="text-center text-bold">
                                    Production Cost/PC
                                </h5>
                            </div>
                            <div class="col-md-3">
                                <a href="/AgroConfiguration/ProductionPriceCreate" class="btn btn-outline-warning btn-sm float-lg-right" id="btnAddNew"><i class="fa fa-plus"></i>Get ProductionPrice</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        @*<div class="row" style="margin-top:-15px">
            <div class="col-md-12">
                <div class="card card-gray-dark">
                    <div class="card-header">
                        <div class="row justify-content-center">
                            <div class="col-md-2">
                                <h5 class="text-right">Search By</h5>
                            </div>
                            <div class="col-md-2">

                                <input type="text" class="form-control form-control-sm" id="SearchAny" placeholder="search By invoice" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-md-12" style="margin-top:-10px">
                <div class="card ">
                    <div class="card-body">
                        <div class="col-md-12" id="dataContainer">

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>


@section scripts{

    <script type="text/javascript">



        var SearchAny = $("#SearchAny");



        $(document).ready(function () {

            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });

            LoadZoneDataTable()
        })

        function LoadDataInitializer() {
            LoadZoneDataTable();
        }

        SearchAny.keyup(function () {
            debugger;
            LoadZoneDataTable()
        })

        function LoadZoneDataTable() {
            var data = { flag: "View", name: $.trim(SearchAny.val()) }
            $.when(getReqWithData(dataType.html, type.get, '/AgroConfiguration/ProductionPriceList', data)).then(function (res, status) {
                console.log(res);
                if (status == "success") {
                    $("#dataContainer").empty();
                    $("#dataContainer").append(res);
                }
            }).fail(function (err) { console.log(err) })
        }


    </script>
    }
