
@{
    ViewBag.Title = "ProductionCost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row" style="margin-top:-10px">

    <div class="col-md-12 p-0">


        <div class="row" style="margin-top:-15px">
            <div class="col-md-12">
                <div class="card mb-0" style="background-color:#001f3f">
                    <div class="px-2 py-1">

                        <div class="row">
                            <div class="col-md-3">

                                <a href="/AgroConfiguration/GetProductFinishGoodList" class="float-left emnDrop-btn" title="Go To List">
                                    <i class="fas fa-arrow-alt-circle-left"></i>
                                </a>
                            </div>
                            <div class="col-md-6 text-center">
                                <h7 class="text-bold text-white">
                                    ProductWise Production Cost
                                </h7>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="emnsave-btn" id="saveButton" title="Save"><i class="fas fa-paper-plane"></i>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


                <div class="row">
                    <div class="col-md-12" style="margin-top:1px">
                        <div class="card card-gray-dark ">

                            <div class="card-header text-sm py-1 px-0">
                                <div class="row justify-content-center">
                                    <div class="col-md-2">
                                        <label for="ddldate" class="col-form-label text-white pr-0 pb-0 pt-0">
                                           Date<span style="color:red">*</span>
                                        </label>
                                        <div class="input-group input-group-sm ">
                                            <input type="text" class="form-control form-control-sm date-datePicker" id="dptFromDate" placeholder="Date" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="ddlProductName" class="col-form-label text-white pr-0 pb-0 pt-0">
                                            Product Name<span style="color:red">*</span>
                                        </label>
                                        @Html.DropDownList("ddlProductName", (IEnumerable<SelectListItem>)ViewBag.ddlProductName, "--ProductName--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger", autofocus = "autofocus" })
                                        <span class="error hide req-ProductName font-weight-bold">Product Name is required!</span>
                                    </div>

                                    <div class="col-md-2">
                                        <label class="col-form-label text-white pr-0 pb-0 pt-0" for="ddlRMtotalprice">RM TotalPRice</label>
                                        <input type="number" id="ddlRMtotalprice" name="ddlRMtotalprice" class="form-control form-control-sm" readonly />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="col-form-label text-white pb-0 pt-0" for="ddlotherexpense">Other Expense Price<span style="color:red">*</span></label>
                                        <input type="number" id="ddlotherexpense" name="ddlotherexpense" class="form-control form-control-sm" />
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-12" style="margin-top:-15px">

                                <div class="col-md-12 p-0" id="dataContainer">

                                </div>

                    </div>
                </div>




            </div>


</div>



@section scripts{

    <script type="text/javascript">


        var ddlQtyUnit = $("#ddlQtyUnit");
        var ddlProductName = $("#ddlProductName");
        var ddlotherexpense = $("#ddlotherexpense");
        var ddlRMtotalprice = $("#ddlRMtotalprice");
        var dptFromDate = $("#dptFromDate");





        $(document).ready(function () {
            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            $(function () {
                $('#ddlProductName').focus();
            });


            dptFromDate.prop('readonly', true);

            dptFromDate.css("background-color", "#fff");

            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            }).on('change', function () {
                $('.datepicker').hide();
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            }).on('change', function () {
                $('.datepicker').hide();
            });

        })


        ddlProductName.change(function () {


           // LoadQtyUnit();



        })
        //function LoadQtyUnit() {
        //    clearDropdown("ddlQtyUnit");
        //    if (ddlProductName.val() != "") {

        //        LoadDropDown('/AgroConfiguration/GetReceipyUnitQtyByProductionId', 'POST', ddlQtyUnit, JSON.stringify({ finishGoodProductId: ddlProductName.val() }));
        //    }


        //}




        //change Invoice
        $('#ddlProductName').change(function () {

            let FinishGoodProductId = $("#ddlProductName option:selected").val();
            debugger;
            var data = { FinishGoodProductId: TryParseInt(FinishGoodProductId, 0), EntryDate: dptFromDate.val(), };
            console.log(data);
            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/ProductionPriceCreateTable', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").empty();
                    $("#dataContainer").append(res);

                }
            }).fail(function (error) {
                console.log(error);
            })




            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetRMAMount", data)).then(function (res, status) {
                debugger;

                consoleLog(res.replace(/['"]+/g, ''));
                var totalreturn = res.replace(/['"]+/g, '');
                ddlRMtotalprice.val(totalreturn);


            });

        });

         $("#saveButton").click(function (e) {
            debugger
            e.preventDefault();
            if (true === true) {

                bootbox.confirm("Are you sure you want to Save this", function (result) {
                    if (result) {
                        debugger;


                        var info = { FinishGoodProductId: TryParseInt(ddlProductName.val(), 0), ProductionOtherExpense: ddlotherexpense.val(), EntryDate: dptFromDate.val() };



                        console.log(info);

                        var data = JSON.stringify({ info: info});

                        $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/SaveProductionPrice', data , getToken())).then(function (res, status)
                        {
                            debugger;
                            if (res == true) {
                                $('.toastrDefaultSuccess').trigger('click');

                                setTimeout(function () {
                                    redirectPage('@Url.Action("GetProductFinishGoodList")');
                                }, 500);

                            }
                            else {
                                $('.toastrDefaultError').trigger('click');
                            }


                            enable("#btnSubmit");
                        }).fail(function (error) {
                            alert(execuStatus.fail);
                            enable("#btnSubmit");
                        })
                    }
                })
            }
        })




        function redirectPage(page) {
            window.location.replace(page);
        }


    </script>
}
