
@{
    ViewBag.Title = "GetAgroSalesProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var privilege = (ERPBO.Common.UserPrivilege)ViewBag.UserPrivilege;
}

<div class="row" style="margin-top:-10px">
    <div class="col-md-12">

        <div class="row" style="margin-top:-15px">
            <div class="col-md-12">
                <div class="card card-navy">
                    <div class="card-header" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6">
                                <h5 class="text-center text-bold">
                                    Collection List
                                </h5>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin-top:-15px">
            <div class="col-md-12">
                <div class="card card-gray-dark">
                    <div class="card-header">
                        <div class="row justify-content-center">
                            <div class="col-md-2">
                                <h5 class="text-center">Search By</h5>
                            </div>
                            <div class="col-md-2">

                                <input type="text" class="form-control form-control-sm" id="searchByAny" placeholder="search Invoice" />
                            </div>
                            <div class="col-md-2">
                                <div class="input-group input-group-sm ">
                                    <input type="text" class="form-control form-control-sm date-datePicker" id="dptFromDate" placeholder="FormDate" />
                                    <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                        <span class="input-group-text">&#10008;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                      
                                <div class="input-group input-group-sm ">
                                    <input type="text" class="form-control form-control-sm date-datePicker" id="dptToDate" placeholder="ToDate" />
                                    <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                        <span class="input-group-text">&#10008;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12" style="margin-top:-10px">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12" id="dataContainer">

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>


<div class="modal fade" id="PaymentDetails" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-gray-dark">
                <h4 id="modalHeading" class="modal-title">Payment Details</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="dataContainer2">

            </div>
        </div>
    </div>
</div>



@*modal*@
<div class="modal" id="Paymentmodal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-gray-dark">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead"></span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>


            <div class="col-md-12" style="background-color:#e7f1f6">
                <div class="container-fluid" @*style="background-color:#e7f1f6"*@>
                    @*border-right:4px solid #808080*@

                    <div class="row justify-content-center">


                        @*<div class="card" style="background-color:#e7f1f6">*@
                            <div class="col-md-12 mb-2">
                                <h5 style="border-bottom:2px solid #08054e">Information</h5>

                                <div class="row" >
                                    <input type="hidden" id="hdProductSalesInfoId" />
                                    <div class="col-md-3">
                                        <label for="ddlInvoiceNo" class="col-form-label">Invoice No.</label>
                                        <input type="text" id="ddlInvoiceNo" class="form-control form-control-sm" readonly />

                                    </div>
                                    <div class="col-md-3">
                                        <label for="ddlTotalAmount" class="col-form-label">Total Amount</label>
                                        <input type="text" id="ddlTotalAmount" class="form-control form-control-sm" readonly />

                                    </div>
                                    <div class="col-md-3">
                                        <label for="ddlPaidAmount" class="col-form-label">Paid AMount</label>
                                        <input type="text" id="ddlPaidAmount" class="form-control form-control-sm" readonly />

                                    </div>
                                    <div class="col-md-3">
                                        <label for="ddlDueAmount" class="col-form-label">Due AMount</label>
                                        <input type="text" id="ddlDueAmount" class="form-control form-control-sm" readonly />
                                    </div>
                                </div>


                            </div>
                        @*</div>*@





                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="container" @*style="background-color:#e7f1f6"*@>
                    @*border-right:4px solid #808080*@

                    @*<div class="row justify-content-center">*@


                    <div class="card" style="background-color: #20B2AA">
                        <div class="col-md-12 mb-2">
                            <h5 style="border-bottom:2px solid #ff0000">Payment</h5>
                            <div class="row justify-content-center">
                                <div class="col-md-2">
                                    <label for="ddlPaymentMode" class="control-label">Payment Mode</label>
                                    <select id="ddlPaymentMode" class="form-control form-control-sm" select2>
                                        <option value="">Select Mode</option>
                                        <option value="Cash">Cash</option>
                                        <option value="Cheque">Cheque</option>
                                    </select>
                                    <span class="error hide req-ddlPaymentMode">ddlPaymentMode Is Required</span>
                                </div>
                                <div class="col-md-4" id="divAccountNumber">
                                    <label for="ddlAccountNumber" class="control-label">Account Number</label>
                                    <input type="number" id="ddlAccountNumber" class="form-control form-control-sm" />
                                    <span class="error hide req-ddlAccountNumber font-weight-bold">Account is required!</span>
                                </div>
                                <div class="col-md-3">
                                    <label for="ddlAmount" class="control-label">Amount</label>
                                    <input type="number" id="ddlAmount" class="form-control form-control-sm" />
                                    <span class="error hide req-ddlAmount font-weight-bold">Amount is required!</span>
                                </div>
                                <div class="col-md-3">
                                    <label for="ddlRemarks" class="control-label">Remarks.</label>
                                    <input type="text" id="ddlRemarks" class="form-control form-control-sm" />
                                    <span class="error hide req-ddlRemarks font-weight-bold">Invoice No is required!</span>
                                </div>
                            </div>

                        </div>
                    </div>





                    @*</div>*@
                </div>
            </div>







            <div class="modal-footer  bg-gradient-gray-dark" >
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-outline-danger btn-sm float-right" data-dismiss="modal" data-target="#"><i class="fas fa-paper-plane"></i> Cancel </button>
                <button type="submit" class="btn btn-outline-success btn-sm float-right" id="saveButton"><i class="fas fa-paper-plane"></i> <span id="spanSaveTextZone">Save</span> </button>
            </div>
        </div>
    </div>
</div>












@section scripts{


    <script type="text/javascript">

        var rptType = $("#rptType");
        var searchByAny = $("#searchByAny");

        var ddlPaymentMode = $("#ddlPaymentMode");
        var ddlAccountNumber = $("#ddlAccountNumber");



        var ddlInvoiceNo = $("#ddlInvoiceNo");
        var ddlTotalAmount = $("#ddlTotalAmount");
        var ddlPaidAmount = $("#ddlPaidAmount");
        var ddlDueAmount = $("#ddlDueAmount");

        var ddlAmount = $("#ddlAmount");
        var ddlRemarks = $("#ddlRemarks");

        var hdProductSalesInfoId = $("#hdProductSalesInfoId");

        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        var searchButton = $("#searchButton");


        $(document).ready(function () {

            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });

            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            }).on('change', function () {
                $('.datepicker').hide();
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            }).on('change', function () {
                $('.datepicker').hide();
            });


            $("#divAccountNumber").hide();
            LoadSalesProduct()
        })


        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');
                }
            }
        })


        $("#searchButton").click(function (e) {

            LoadSalesProduct()
        
        })





        ddlPaymentMode.change(function () {
            if (ddlPaymentMode.val() == "Cheque") {
                $("#divAccountNumber").show();

            }
            if (ddlPaymentMode.val() == "Cash") {
                $("#divAccountNumber").hide();

            }

        })

        searchByAny.keyup(function () {
            LoadSalesProduct()
        })

        dptFromDate.change(function () {
            LoadSalesProduct();
        })

        dptToDate.change(function () {
            LoadSalesProduct();
        })


        function LoadSalesProduct() {
            debugger;

            var data = { flag: "View", name: $.trim(searchByAny.val()), fromDate: dptFromDate.val(), toDate: dptToDate.val() };

            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/SalesPaymentList', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            });

        }

        $(document).on('click', 'a.data-item-detail-ProductionSalesInfoId', function (e) {
            e.preventDefault();
            debugger;
            $("#dataContainer2").empty();
            var id = $(this).parent().parents('tr').children('td').eq(1).html();
            if (true) {
                var data = { flag: "Detail", id: id };
                $.when(getReqWithData('html', 'GET', '/AgroConfiguration/SalesPaymentList', data)).then(function (res, status) {
                    console.log(status);
                    if (status === "success") {
                        $("#dataContainer2").empty();
                        $("#dataContainer2").append(res);
                        $("#PaymentDetails").modal('show');
                    }
                }).fail(function (error) {
                    console.log(error);
                })
            }
        })

        //modal open

        function OpenModal() {
            $("#spanModalHead").text("Add New Zone");
            $("#spanSaveTextZone").text('Save');
            $("#Paymentmodal").modal("show");
            $(".error").addClass("hide");
        }

        //payment
        $(document).on("click", "a.data-item-Payment-ProductionSalesInfoId", function (e) {
            //alert();
            debugger;
            e.preventDefault()

            var row = $(this).parent().parents('tr');
            var td1 = row.find('td:eq(2)').html();
            var td2 = row.find('td:eq(4)').html();
            var td3 = row.find('td:eq(5)').html();
            var td4 = row.find('td:eq(6)').html();
            var td5 = row.find('td:eq(1)').html();


            hdProductSalesInfoId.val(td5);
            ddlInvoiceNo.val(td1);
            ddlTotalAmount.val(td2);
            ddlPaidAmount.val(td3);
            ddlDueAmount.val(td4);


            OpenModal();
            $("#spanModalHead").text('Payment');
            $("#spanSaveTextZone").text('Payment Update');
        })










        //save
        $("#saveButton").click(function (e) {
            // alert();
            debugger;
            e.preventDefault();
            $(".error").addClass("hide");

            if (validateAddToList()) {

            var info = { ProductSalesInfoId: TryParseInt(hdProductSalesInfoId.val(), 0), PaymentAmount: ddlAmount.val(), Remarks: ddlRemarks.val(), PaymentMode: ddlPaymentMode.val(), AccounrNumber: ddlAccountNumber.val() };

            var data = JSON.stringify({ info: info });



            $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/SaveSalesPayment', data, getToken())).then(function (res, status) {
                if (res === true) {
                    //debugger;
                    $('.toastrDefaultSuccess').trigger('click');
                    setTimeout(function () {
                        redirectPage('@Url.Action("SalesPaymentList")');
                    }, 1000);

                }
                else {
                    $('.toastrDefaultError').trigger('click');
                }
                enable("#btnSubmit");
            }).fail(function (error) {
                alert(execuStatus.fail);
                enable("#btnSubmit");
            })


        }

        });




        function redirectPage(page) {
            window.location.replace(page);
        }


        //validation
        function validateAddToList() {
             debugger;
            var isValid = true;
            $(".error").addClass('hide');

            if ($.trim(ddlPaymentMode.val()) == 0) {
                $(".req-ddlPaymentMode").removeClass('hide');
                isValid = false;
            }
            //if (ddlReturnType.val() === "") {
            //    $(".req-ddlReturnType").removeClass('hide');
            //    isValid = false;
            //}
            if (TryParseInt(ddlAmount.val(), 0) <= 0) {
                $(".req-ddlAmount").removeClass('hide');
                isValid = false;
            }


            return isValid;
        }


    </script>

}