@{
    ViewBag.Title = "SalesReturnCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:-10px">

    <div class="col-md-12">

        @*<div class="card card-navy">*@

        <div class="row" style="margin-top:-15px">
            <div class="col-md-12">
                <div class="card card-navy">
                    <div class="card-header" style="text-align: center;">

                        <div class="row">
                            <div class="col-md-3">

                                <a href="/AgroConfiguration/SalesReturnList" class="float-left btn btn-sm btn-outline-primary" title="Go To List">
                                    <i class="fas fa-arrow-alt-circle-left"></i>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <h5 class="text-center text-bold">
                                    Create Sales Return
                                </h5>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-success btn-sm float-right" id="saveButton">SAVE <i class="fas fa-paper-plane"></i></button>
                                @*btn btn-outline-primary btn-sm float-lg-right*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!--<div class="card-body  mb-5"--> @*style="background-color:#e7f1f6"*@ <!--id="cardWithOutRequisition">-->
            <div class="row">
                <div class="col-md-12" style="margin-top:-10px">
                    <div class="card card-gray-dark">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-1">
                                    <h5 class="text-start">
                                        Invoice
                                    </h5>
                                </div>
                                <div class="col-md-3">
                                    @*<label for="ddlInvoiceNo" class="col-form-label">Invoice No </label>*@
                                    @Html.DropDownList("ddlInvoiceNo", (IEnumerable<SelectListItem>)ViewBag.ddlInvoiceNo, "--Select Invoice--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                                </div>
                                <div class="hide">
                                    <label for="ddlStokiestID">StokiestID</label>
                                    <input type="text" id="ddlStokiestID" name="ddlStokiestID" class="form-control form-control-sm" readonly />
                                </div>
                                <div class="col-md-6">

                                </div>

                            </div>


                        </div>

                    </div>
                </div>


                <div class="col-md-12" style="margin-top:-10px">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-md-12" id="dataContainer">

                            </div>


                        </div>

                    </div>
                </div>

            </div>
        @*</div>*@

        @*</div>*@

    </div>


            </div>



            @section scripts{

 <script type="text/javascript">


        var ddlInvoiceNo = $("#ddlInvoiceNo");
       // var ddlStokiestID = $("#ddlStokiestID");
        var ddlStokiestID = $("#ddlStokiestID");

        var returnqty = $(".returnqty");





        $(document).ready(function () {
            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });


        })



















       //change Invoice
        $('#ddlInvoiceNo').change(function () {

            let INVid = $("#ddlInvoiceNo option:selected").val();
            debugger;
            var data = { id: TryParseInt(INVid,0) };
            console.log(data);
            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/SalesReturncreate', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").empty();
                    $("#dataContainer").append(res);
                    /*$("#AgroSalesProductDetails").modal('show');*/
                }
            }).fail(function (error) {
                console.log(error);
            })

                // ddlStokiestID
            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetStokistID", data)).then(function (res, status) {

                debugger;
                consoleLog(res.replace(/['"]+/g, ''));
                var ddlStokiest = res.replace(/['"]+/g, '');
                ddlStokiestID.val(res.ddlStokiest);
                ddlStokiestID.val(ddlStokiest);



            });



        });


        ////chk
        //returnqty.on('change', function () {
        //    debugger;
        //    alert("to");
        //    /*var availableQty = $(this).parent().parent().find("td:eq(6)").text();*/
        //    /*var returnqty = $(this).val();*/
        //    //if (Number(IssueQuntity) <= Number(availableQty)) {

        //    //    //   $(".error").addClass("hide");


        //    //    $(this).parent().children("span").addClass("hide");
        //    //}
        //    //else {
        //    //    //   $('.error').removeClass("hide");
        //    //    $(this).parent().children("span").removeClass("hide");
        //    //}


        //});





        //save
         $("#saveButton").click(function (e) {
            //alert();
            debugger;
            e.preventDefault();

            var details = [];
            details.length = 0;
             $.each($("#tblReturnItems tbody tr"), function (index, item) {
                var tds = $(this).children('td');
                 details.push({
                     StockiestId: TryParseInt(ddlStokiestID.val(), 0),
                    ProductSalesInfoId: TryParseInt(ddlInvoiceNo.val(), 0),
                    InvoiceNo:  dropDownSelectedText("ddlInvoiceNo"),
                    InvoiceDate: ddlInvoiceNo.val(),

                    QtyKG: tds.eq(2).html(),

                    ReturnQuanity: tds.eq(8).children('input[type="number"]').val(),

                    ReturnPerUnitPrice: tds.eq(9).children('input[type="number"]').val(),
                    FinishGoodProductInfoId: tds.eq(10).html(),
                    MeasurementId: tds.eq(11).html(),
                    MeasurementSize: tds.eq(4).html(),
                    FGRId: tds.eq(12).html(),


                });
            })
            console.log(details);
            var data = JSON.stringify({ details: details });

            $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/SaveSalesReturn', data, getToken())).then(function (res, status) {
                if (res === true) {
                    debugger;
                    $('.toastrDefaultSuccess').trigger('click');
                    setTimeout(function () {
                        redirectPage('@Url.Action("SalesReturnList")');
                    }, 1000);
                }
                else {
                    $('.toastrDefaultError').trigger('click');
                }
                enable("#saveButton");
            }).fail(function (error) {
                alert(execuStatus.fail);
                enable("#saveButton");
            })

            function redirectPage(page) {
                window.location.replace(page);
            }

        });









                </script>
            }
