@{
    ViewBag.Title = "SalesPaymentCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:-10px">

    <div class="col-md-12 p-0">

        <div class="row">
            <div class="col-md-12" style="margin-top:-14px">
                <div class="card" style="background-color:#001f3f">

                    <div class="px-2 py-1">
                        <div class="row">
                            <div class="col-md-3">
                                <h7 class="text-left text-bold text-white">Payment</h7>
                            </div>
2
                            <div class="col-md-3 text-center">
                                @*<label for="ddlstokiestname">Stockiest Name </label>*@
                                @Html.DropDownList("ddlstokiestname", (IEnumerable<SelectListItem>)ViewBag.ddlstokiestname, "Select Stokiest", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                            </div>
                            <div class="col-md-2 text-center">
                                <input type="text" class="form-control form-control-sm" id="searchByAny" placeholder="search Invoice" />
                            </div>

                            <div class="col-md-3">
                                <button class="emnsave-btn" id="saveButton">SAVE <i class="fas fa-paper-plane"></i></button>
                                @*btn btn-outline-primary btn-sm float-lg-right*@
                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div>

        <div class="row small">
            <div class="col-md-12" style="margin-top:-14px">
                <div class="card" style="background-color: #E0FFFF;">
                    <div class="px-2 py-1" style="margin-bottom:-3px">

                        <div class="row">

                            <div class="col-md-2">
                                <label for="txtMoneyRecipt" class="control-label mb-0">
                                    Money Recipt
                                </label>
                                <input type="text" id="txtMoneyRecipt" class="form-control form-control-sm" value="@ViewBag.code" readonly />
                            </div>
                            <div class="col-md-2">
                                <label class="mb-0" for="ddlBankname">BnakName</label>
                                @Html.DropDownList("ddlBankname", (IEnumerable<SelectListItem>)ViewBag.ddlBankname, "Select Bank", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                            </div>
                            <div class="col-md-2">
                                <label class="mb-0" for="ddlBranch">Branch</label>
                                <input type="text" id="ddlBranch" name="ddlBranch" class="form-control form-control-sm" />
                            </div>
                            <div class="col-md-2">
                                <label for="ddlPaymentMode" class="control-label mb-0">Payment Mode</label>
                                <select id="ddlPaymentMode" class="form-control form-control-sm select2" >
                                    <option value="">Select Mode</option>
                                    <option value="Cash">Cash</option>
                                    <option value="Cheque">Cheque</option>
                                </select>
                                <span class="error hide req-ddlPaymentMode">Please Select Payment Mode</span>
                            </div>
                            <div class="col-md-2" id="divAccountNumber">
                                <label for="ddlAccountNumber" class="control-label">Account Number</label>
                                <input type="number" id="ddlAccountNumber" class="form-control form-control-sm" />
                                <span class="error hide req-ddlAccountNumber font-weight-bold">Account is required!</span>
                            </div>



                        </div>


                    </div>



                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12" style="margin-top:0px">

                <div class="row" style="margin-top:-3px">
                    <div class="col-md-12" style="margin-top:-10px">


                                <div class="col-md-12 p-0" id="dataContainer">

                                </div>



                    </div>
                </div>
            </div>
        </div>




    </div>
</div>


@section scripts{

    <script type="text/javascript">


        var ddlstokiestname = $("#ddlstokiestname");
        var ddlBankname = $("#ddlBankname");
        var ddlBranch = $("#ddlBranch");
        var txtMoneyRecipt = $("#txtMoneyRecipt");
        var divAccountNumber = $("#divAccountNumber");
        var ddlPaymentMode = $("#ddlPaymentMode");
        var ddlAccountNumber = $("#ddlAccountNumber");

        var searchByAny = $("#searchByAny");




        $(document).ready(function () {
            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            $("#divAccountNumber").hide();

        })

        ddlPaymentMode.change(function () {
            if (ddlPaymentMode.val() == "Cheque") {
                $("#divAccountNumber").show();

            }
            if (ddlPaymentMode.val() == "Cash") {
                $("#divAccountNumber").hide();

            }

        })

        //change stokiest
        $('#searchByAny').keyup(function () {
            debugger;

            let Stkid = $("#ddlstokiestname option:selected").val();

            if (Stkid == null || Stkid > 0) {
                debugger;
                var data = { flag: "View", StockiestId: TryParseInt(Stkid, 0), invoiceNo: $.trim(searchByAny.val()) };
                console.log(data);
                debugger

                $.when(getReqWithData('html', 'GET', '/AgroConfiguration/SalesPaymentCreate', data)).then(function (res, status) {
                    console.log(status);
                    if (status === "success") {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res);

                    }
                }).fail(function (error) {
                    console.log(error);
                })
            }






        });

        //Change Invoice
        $('#ddlstokiestname').change(function () {

            let Stkid = $("#ddlstokiestname option:selected").val();
            debugger;
            var data = { flag: "View", StockiestId: TryParseInt(Stkid, 0) };
            console.log(data);
            debugger

            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/SalesPaymentCreate', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").empty();
                    $("#dataContainer").append(res);

                }
            }).fail(function (error) {
                console.log(error);
            })




        });




                //save
         $("#saveButton").click(function (e) {
            //alert();
            debugger;
             e.preventDefault();

             if (validates() == true)
             {
                             var details = [];
            details.length = 0;
             $.each($("#tblAgroSalesProductList tbody tr"), function (index, item) {
                var tds = $(this).children('td');
                 details.push({

                     ProductSalesInfoId: tds.eq(1).html(),
                     PaymentAmount: tds.eq(7).children('input[type="number"]').val(),
                     CommisionPercent: tds.eq(8).children('input[type="number"]').val(),



                });
            })
             console.log(details);
             var info = { PaymentMoneyReciptId: 0, StockiestId: TryParseInt(ddlstokiestname.val(), 0), MoneyReciptNo: txtMoneyRecipt.val(), BankName: $("#ddlBankname option:selected").text(), BranchName: ddlBranch.val(), PaymentMode: ddlPaymentMode.val(), AccounrNumber: ddlAccountNumber.val() };

             var data = JSON.stringify({ info: info, details: details });

             $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/SaveProSalesPayment', data, getToken())).then(function (res, status) {

                            debugger;
                            if (res.isSucccess === true) {
                                $('.toastrDefaultSuccess').trigger('click');
                                var moneyRecipt = res.File;
                                window.open('/AgroConfiguration/MoneyReciptReport?moneyRecipt=' + moneyRecipt, '_blank');

                                setTimeout(function () {
                                    redirectPage('@Url.Action("MoneyReceiptList")');
                                }, 500);

                            }

                else {
                    $('.toastrDefaultError').trigger('click');
                }
                enable("#saveButton");
            }).fail(function (error) {
                alert(execuStatus.fail);
                enable("#saveButton");
            })

            function redirectPage(page) {
                window.location.replace(page);
            }

             }




        });


        function validates() {
            debugger;
            var isValid = true;
            $(".error").addClass('hide');

            if (ddlPaymentMode.val() === "") {
                $(".req-ddlPaymentMode").removeClass('hide');
                isValid = false;
            }

            return isValid;
        }


    </script>
}