@{
    ViewBag.Title = "SalesReturnAdjustCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-12">

        <div class="card card-navy">
            <div class="card-header" style="text-align: center;">

                <div class="row">
                    <div class="col-md-3">

                        @*<a href="/AgroConfiguration/SalesReturnList" class="float-left btn btn-sm btn-outline-primary" title="Go To List">*@
                            @*<i class="fas fa-arrow-alt-circle-left"></i>
                        </a>*@
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-center text-bold">
                            Sales Return Adjust
                        </h5>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>

            </div>

            <div class="card-body  mb-5" @*style="background-color:#e7f1f6"*@ id="cardWithOutRequisition">
                <div class="row">


                    <div class="col-md-12" style="margin-top:-10px">
                        <div class="card ">

                            <div class="card-body text-sm">
                                <div class="row justify-content-center">
                                    <div class="col-md-2">
                                        <label for="ddlstokiestname">Stockiest Name </label>
                                        @Html.DropDownList("ddlstokiestname", (IEnumerable<SelectListItem>)ViewBag.ddlstokiestname, "--Select Stokiest--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <label for="ddltotalbill">Total Bill</label>
                                        <input type="text" id="ddltotalbill" name="ddltotalpurchaseprice" class="form-control form-control-sm" readonly />
                                    </div>
                                    <div class="col-md-1">
                                        <label for="ddltotalpaid">Total Paid</label>
                                        <input type="text" id="ddltotalpaid" name="ddltotalpaid" class="form-control form-control-sm" readonly />
                                    </div>
                                    <div class="col-md-1">
                                        <label for="ddltotalpaid">Total Return</label>
                                        <input type="text" id="ddltotalreturn" name="ddltotalreturn" class="form-control form-control-sm" readonly />
                                    </div>
                                    <div class="col-md-1">
                                        <label for="ddltotaldue">Total Due</label>
                                        <input type="text" id="ddltotaldue" name="ddltotalpurchaseprice" class="form-control form-control-sm" readonly />
                                    </div>

                                    <div class="col-md-2">
                                        <label class="control-label" for="ddlinvoiceno">Invoice No</label>
                                        <select id="ddlinvoiceno" class="form-control form-control-sm select2">
                                            <option value="0">Select Invoice</option>
                                        </select>
                                        <span class="error hide req-ddlinvoiceno">Invoice Is Required</span>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-12" style="margin-top:-10px">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-12" id="dataContainer">

                                </div>

                                <button class="btn btn-success btn float-right" id="saveButton">SAVE <i class="fas fa-paper-plane"></i></button>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>


</div>



@section scripts{

    <script type="text/javascript">


        var ddlstokiestname = $("#ddlstokiestname");
        var ddltotalbill = $("#ddltotalbill");
        var ddltotalpaid = $("#ddltotalpaid");
        var ddltotaldue = $("#ddltotaldue");
        var ddltotalreturn = $("#ddltotalreturn");


        var ddlinvoiceno = $("#ddlinvoiceno");
        //var regionNameList = [];


        $(document).ready(function () {
            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });


        })



       //change Invoice
        $('#ddlstokiestname').change(function () {

            let Stkid = $("#ddlstokiestname option:selected").val();
         //   debugger;
            var data = { id: TryParseInt(Stkid,0) };
            console.log(data);
            $.when(getReqWithData(dataType.html, type.get, '/AgroConfiguration/getinvoice', data)).then(function (res,status) {

                var res1 = JSON.parse(res);
                console.log(res1.flag);
                if (res1.flag === "1") {
                    $("#dataContainer").empty();
                    $('#ddlinvoiceno').empty();
                    $('#ddlinvoiceno').append('<option value="">Select Invoice</option>');

                    $.each(res1.data, function (i, obj) {
                       // debugger;
                        console.log(i);
                        console.log(obj.Value);
                        console.log(obj.Text);
                        let s = '<option value="' + obj.Value + '">' + obj.Text + '</option>';

                        $('#ddlinvoiceno').append(s);
                    });
                }
                if (res1.flag === "0") {
                    $('#ddlinvoiceno').empty();
                }


            }).fail(function (error) {
                $('#ddlinvoiceno').empty();
                console.log(error);
            })



            //total
            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetStokistTotalbill", data)).then(function (res, status) {


                consoleLog(res.replace(/['"]+/g, ''));
                var totalbill = res.replace(/['"]+/g, '');
                ddltotalbill.val(res.totalbill);
                ddltotalbill.val(totalbill);

            });

            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetStokistTotalPaid", data)).then(function (res, status) {


                consoleLog(res.replace(/['"]+/g, ''));
                var totalpaid = res.replace(/['"]+/g, '');
                ddltotalpaid.val(res.totalpaid);
                ddltotalpaid.val(totalpaid);

            });

            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetStokistTotalDue", data)).then(function (res, status) {


                consoleLog(res.replace(/['"]+/g, ''));
                var totaldue = res.replace(/['"]+/g, '');
                ddltotaldue.val(res.totaldue);
                ddltotaldue.val(totaldue);

            });

            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetStokistTotalReturn", data)).then(function (res, status) {


                consoleLog(res.replace(/['"]+/g, ''));
                var totalreturn = res.replace(/['"]+/g, '');
                ddltotalreturn.val(res.totalreturn);
                ddltotalreturn.val(totalreturn);

            });



        });




        //change Invoice
        $('#ddlinvoiceno').change(function () {

            let INVid = $("#ddlinvoiceno option:selected").val();
            debugger;
            var data = { ProductSalesInfoId: TryParseInt(INVid, 0) };
            console.log(data);
            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/SalesReturnAdjustCreateTbl', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").empty();
                    $("#dataContainer").append(res);

                }
            }).fail(function (error) {
                console.log(error);
            })



        });


       $("#saveButton").click(function (e) {
            //alert();
            debugger;
            e.preventDefault();
        
            var details = [];
            details.length = 0;
             $.each($("#tblReturnItems tbody tr"), function (index, item) {
                 var tds = $(this).children('td');
                 // tds.eq(7).children("input").is(":checked");
           
                details.push({
                    SalesReturnId: tds.eq(12).html(),
                    ISActive: tds.eq(9).children("input").is(":checked"),

                 


                });
            })
            console.log(details);
            var data = JSON.stringify({ details: details });

           $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/ADJUSTSalesReturn', data, getToken())).then(function (res, status) {
                if (res === true) {
                    debugger;
                    $('.toastrDefaultSuccess').trigger('click');
                    setTimeout(function () {
                        redirectPage('@Url.Action("SalesReturnAdjustCreate")');
                    }, 1000);
                }
                else {
                    $('.toastrDefaultError').trigger('click');
                }
                enable("#saveButton");
            }).fail(function (error) {
                alert(execuStatus.fail);
                enable("#saveButton");
            })

            function redirectPage(page) {
                window.location.replace(page);
            }

        });


    </script>
}