@{
    ViewBag.Title = "ProductReturnList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="margin-top:-12px">
    <div class="col-md-12 p-0">


        <div class="row" style="margin-top:-12px">
            <div class="col-md-12">
                <div class="card" style="background-color:#001f3f">
                    <div class="px-2 py-1" style="text-align: center;">
                        <div class="row align-items-center">

                            <div class="col-md-2">
                                <h7 class="float-left text-bold text-white">
                                    Product Return List
                                </h7>
                            </div>

                            <div class="col-md-2">

                                <input type="text" class="form-control form-control-sm" id="SearchAny" placeholder="search By invoice" />
                            </div>
                            <div class="col-md-2">

                                @Html.DropDownList("ddlProductName", (IEnumerable<SelectListItem>)ViewBag.ddlProductName, "--ProductName--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                            </div>
                            <div class="col-md-2">


                                <select class="form-control form-control-sm select2" id="ddlStatus">
                                    <option value="" selected>--Status--</option>
                                    <option value="ADJUST">ADJUST</option>
                                    <option value="NOTADJUST">NOTADJUST</option>
                                </select>
                            </div>
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-3">
                                <a href="/AgroConfiguration/SalesReturn" class="das2-btn float-lg-right float-sm-right" id="btnAddNew"><i class="fa fa-plus"></i>Create ProductReturn</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row"style="margin-top:-6px">
            <div class="col-md-12" style="margin-top:-11px">

                        <div class="col-md-12" id="dataContainer">

                        </div>

            </div>
        </div>



    </div>
</div>


@section scripts{

    <script type="text/javascript">



        var SearchAny = $("#SearchAny");

        var ddlProductName = $("#ddlProductName");
        var ddlStatus = $("#ddlStatus");

        $(document).ready(function () {

            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });

            LoadZoneDataTable()
        })

        function LoadDataInitializer() {
            LoadZoneDataTable();
        }

        SearchAny.keyup(function () {
            debugger;
            LoadZoneDataTable()
        })

        ddlProductName.change(function () {

            LoadZoneDataTable();
        })

        ddlStatus.change(function () {

            LoadZoneDataTable();
        })

        function LoadZoneDataTable() {
            var data = { flag: "View", name: $.trim(SearchAny.val()), ProductId: TryParseInt(ddlProductName.val(), 0), status: ddlStatus.val() }
            $.when(getReqWithData(dataType.html, type.get, '/AgroConfiguration/SalesReturnList', data)).then(function (res, status) {
                console.log(res);
                if (status == "success") {
                    $("#dataContainer").empty();
                    $("#dataContainer").append(res);
                }
            }).fail(function (err) { console.log(err) })
        }


    </script>
}
