@{
    ViewBag.Title = "TerritoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">

        <div class="card card-primary card-outline card-tabs" style="margin-top:-20px">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-two-TerritoryList-tab" data-toggle="pill" href="#custom-tabs-two-RegionList" role="tab" aria-controls="custom-tabs-two-TerritoryList" aria-selected="true">Existing Territory List</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-two-tabContent">
                    @Html.AntiForgeryToken()
                    <div class="tab-pane fade show active" id="custom-tabs-two-TerritoryList" role="tabpanel" aria-labelledby="custom-tabs-two-RegionList-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Territory List
                                                </h5>
                                            </div>
                                            <div class="col-md-3">
                                                <a href="/AgroConfiguration/CreateTerritorylist" class="btn btn-outline-primary btn-sm float-lg-right" id="btnAddNew"><i class="fa fa-plus"></i> Create Territory</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <div class="row">
                                            <h4 class="col-md-2">Search By</h4>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control form-control-sm" id="searchByAny" placeholder="search By Any" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12" id="dataContainer">

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@*modal*@
<div class="modal" id="territorymodal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead"></span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="formterritory">
                    <input type="hidden" id="hdterritoryId" />
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="ddlareaname" class="control-label">AreaName</label>
                            @Html.DropDownList("ddlareaname", (IEnumerable<SelectListItem>)ViewBag.ddlareaname, "Select AreaName", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                            <span class="error hide required-AreaName font-weight-bold">Input AreaName!</span>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="ddlTerritoryName" class="control-label">TerritoryName</label>
                            <input type="text" id="ddlTerritoryName" class="form-control form-control-sm" />
                            <span class="error hide required-TerritoryName font-weight-bold">Input TerritoryName!</span>
                            <span class="error hide duplicate-TerritoryName font-weight-bold">Already TerritoryName Exist!</span>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="ddlstatus" class="control-label">Status</label>
                            <select class="form-control form-control-sm select2" id="ddlstatus">
                                <option value="Active">Active</option>
                                <option value="InActive">InActive</option>
                            </select>
                            <span class="error hide required-status font-weight-bold">Input status!</span>
                        </div>
                    </div>
                </form>
            </div>


            <div class="modal-footer btn-default">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-outline-danger btn-sm float-right" data-dismiss="modal" data-target="#"><i class="fas fa-paper-plane"></i> Cancel </button>
                <button type="submit" class="btn btn-outline-success btn-sm float-right" id="saveButton"><i class="fas fa-paper-plane"></i> <span id="spanSaveTextTerritory">Save</span> </button>
            </div>
        </div>
    </div>
</div>







@section scripts{

    <script type="text/javascript">

        var hdterritoryId = $("#hdterritoryId");
        var ddlareaname = $("#ddlareaname");
        var ddlTerritoryName = $("#ddlTerritoryName");
        var ddlstatus = $("#ddlstatus");
        var searchByAny = $("#searchByAny");

        //var SearchAny = $("#SearchAny");



        $(document).ready(function () {
            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });

            LoadTerritoryDataTable()
        })

        function LoadDataInitializer() {
            LoadTerritoryDataTable();
        }

        searchByAny.keyup(function () {
            LoadTerritoryDataTable()
        })

        function LoadTerritoryDataTable() {
            //debugger
           // alert("here me 2");
            var data = { flag: "View", name: $.trim(searchByAny.val()) }
            $.when(getReqWithData(dataType.html, type.get, '/AgroConfiguration/Territorylist', data)).then(function (res, status) {
                console.log(res);
                if (status == "success") {
                    $("#dataContainer").empty();
                    $("#dataContainer").append(res);
                }
            }).fail(function (err) { console.log(err) })
        }



        //opemmodal
        function OpenModal() {
            $("#territorymodal").modal("show");
            //$("#spanModalHead").text("Add New Zone");
            //$("#spanSaveTextRegion").text('Save');
            //$("#regionmodal").modal("show");
            //$(".error").addClass("hide");
        }



        //editbuttun
        $(document).on("click", "a.data-edit-item-Territory", function (e) {
            //alert();
           // debugger;
            e.preventDefault()

            var row = $(this).parent().parents('tr');
            var td1 = row.find('td:eq(1)').html();
            var td2 = row.find('td:eq(2)').html();
            var td3 = row.find('td:eq(3)').html();
            var td4 = row.find('td:eq(4)').html();
            var td5 = row.find('td:eq(5)').html();
            var td6 = row.find('td:eq(6)').html();
            var td7 = row.find('td:eq(7)').html();


            //console.log(td1);
            //console.log(td2);

            hdterritoryId.val(td1);
            ddlareaname.val(td2);
            ddlareaname.trigger("change");
            ddlTerritoryName.val(td3);
            ddlstatus.val(td5);
            ddlstatus.trigger("change");



            OpenModal();
            $("#spanModalHead").text('Update Territory');
            $("#spanSaveTextTerritory").text('Update');
            //spanSaveTextRegion
        })


        //savemodal
        $("#saveButton").click(function (e) {
           //alert();
            //debugger;
            e.preventDefault();
            $(".error").addClass("hide");

            if (ValidationForm() == true) {
                var edetails = JSON.stringify({ TerritoryId: TryParseInt(hdterritoryId.val(), 0), AreaId: TryParseInt(ddlareaname.val(), 0), TerritoryName: ddlTerritoryName.val(), Status: ddlstatus.val() });
                console.log(edetails);
                $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/SaveTerritoryInfo', edetails, getToken())).then(function (res, status) {
                    //alert("hitme");
                    debugger;
                    console.log(status);
                    console.log(res);
                    if (res == true) {
                        //$("#zonemodal").modal("toggle");
                        toastrSuccessAlert(execuStatus.successSave);
                        //alert("Here Me");
                        $("#territorymodal").modal("hide");

                        LoadTerritoryDataTable();
                    }
                    else {
                        //message("#msg2");
                        toastrErrorAlert(execuStatus.fail);
                        alert("This Territory Already Exist");
                    }
                    // enable("#saveButton");
                })
            }
        });



        //validationform

        function ValidationForm() {
            //debugger;
            Isvalid = true;
            $('.error').addClass("hide");
            if ($.trim(ddlareaname.val()) == 0) {
                $('.required-AreaName').removeClass("hide");
                Isvalid = false;
            }
            if ($.trim(ddlTerritoryName.val()) == 0) {
                $('.required-TerritoryName').removeClass("hide");
                Isvalid = false;
            }
            if ($.trim(ddlstatus.val()) == 0) {
                $('.required-status').removeClass("hide");
                Isvalid = false;
            }

            return Isvalid

        }

        function redirectPage(page) {
            window.location.replace(page);
        }
    </script>
}