@{
    ViewBag.Title = "ZoneList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">

        <div class="card card-primary card-outline card-tabs" style="margin-top:-20px">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-two-ZoneList-tab" data-toggle="pill" href="#custom-tabs-two-ZoneList" role="tab" aria-controls="custom-tabs-two-ZoneList" aria-selected="true">Existing Zone List</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-two-tabContent">
                    @Html.AntiForgeryToken()
                    <div class="tab-pane fade show active" id="custom-tabs-two-ZoneList" role="tabpanel" aria-labelledby="custom-tabs-two-ZoneList-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Zone List
                                                </h5>
                                            </div>
                                            <div class="col-md-3">
                                                <a href="/AgroConfiguration/CreateZonelist" class="btn btn-outline-primary btn-sm float-lg-right" id="btnAddNew"><i class="fa fa-plus"></i> Create Zone</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <div class="row">
                                            <h4 class="col-md-2">Search By</h4>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control form-control-sm" id="SearchAny" placeholder="search By Any" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12" id="dataContainer">

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="modal" id="zonemodal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead"></span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="formzone">
                    <input type="hidden" id="hdzonetId" />
                    <div class="form-row">
                        @*<div class="form-group col-md-12">
                            <label for="ddlorgname" class="control-label">OrganizationName</label>
                            @Html.DropDownList("ddlorgname", (IEnumerable<SelectListItem>)ViewBag.ddlorgname, "Select OrgName", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                            <span class="error hide required-OrganizationName font-weight-bold">Input OrganizatinName!</span>
                        </div>*@
                        <div class="form-group col-md-12">
                            <label for="ddlZoneName" class="control-label">ZoneName</label>
                            <input type="text" id="ddlZoneName" class="form-control form-control-sm" />
                            <span class="error hide required-ZoneName font-weight-bold">Input Zone Name!</span>
                            <span class="error hide duplicate-ZoneName font-weight-bold">Already ZoneName Exist!</span>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="ddlstatus" class="control-label">Status</label>
                            <select class="form-control form-control-sm select2" id="ddlstatus">
                                <option value="Active">Active</option>
                                <option value="InActive">InActive</option>
                            </select>
                            <span class="error hide required-status font-weight-bold">Input status!</span>
                        </div>
                    </div>
                </form>
            </div>


            <div class="modal-footer btn-default">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-outline-danger btn-sm float-right" data-dismiss="modal" data-target="#"><i class="fas fa-paper-plane"></i> Cancel </button>
                <button type="submit" class="btn btn-outline-success btn-sm float-right" id="saveButton"><i class="fas fa-paper-plane"></i> <span id="spanSaveTextZone">Save</span> </button>
            </div>
        </div>
    </div>
</div>






@section scripts{

    <script type="text/javascript">

        var hdzonetId = $("#hdzonetId");
        var ddlorgname = $("#ddlorgname");
        var ddlZoneName = $("#ddlZoneName");
        var ddlstatus = $("#ddlstatus");

        var SearchAny = $("#SearchAny");


        $(document).ready(function () {

            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });

            LoadZoneDataTable()
        })

        function LoadDataInitializer() {
            LoadZoneDataTable();
        }

        SearchAny.keyup(function () {
            LoadZoneDataTable()
        })

        function LoadZoneDataTable() {
            var data = { flag: "View", name: $.trim(SearchAny.val()) }
            $.when(getReqWithData(dataType.html, type.get, '/AgroConfiguration/Zonelist', data)).then(function (res, status) {
                console.log(res);
                if (status == "success") {
                    $("#dataContainer").empty();
                    $("#dataContainer").append(res);
                }
            }).fail(function (err) { console.log(err) })
        }


        //edit
        //openmodals
        function OpenModal() {
            $("#spanModalHead").text("Add New Zone");
            $("#spanSaveTextZone").text('Save');
            $("#zonemodal").modal("show");
            $(".error").addClass("hide");
        }

        //edit
        $(document).on("click", "a.data-edit-item-Zone", function (e) {
            //alert();
            //debugger;
            e.preventDefault()

            var row = $(this).parent().parents('tr');
            var td1 = row.find('td:eq(1)').html();
            var td2 = row.find('td:eq(2)').html();
            var td3 = row.find('td:eq(3)').html();
            var td4 = row.find('td:eq(4)').html();
            var td5 = row.find('td:eq(5)').html();
            var td6 = row.find('td:eq(6)').html();


            console.log(td4);

            hdzonetId.val(td1);
            ddlorgname.val(td2);
            ddlorgname.trigger("change");
            ddlZoneName.val(td4);
            ddlstatus.val(td5);
            ddlstatus.trigger("change");



            OpenModal();
            $("#spanModalHead").text('Update Zone');
            $("#spanSaveTextZone").text('Update');
        })



        $("#saveButton").click(function (e) {
            //alert();
           // debugger;
            e.preventDefault();
            $(".error").addClass("hide");

            if (ValidationForm() == true) {
            var edetails = JSON.stringify({ ZoneId: TryParseInt(hdzonetId.val(), 0),  ZoneName: ddlZoneName.val(), Status: ddlstatus.val() });
            console.log(edetails);
            $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/SaveZonetInfo', edetails, getToken())).then(function (res, status) {
                //alert("hitme");
                //debugger;
                    console.log(status);
                    console.log(res);
                    if (res == true) {
                        $("#zonemodal").modal("toggle");
                        toastrSuccessAlert(execuStatus.successSave);
                        LoadZoneDataTable();
                    }
                    else {
                        message("#msg2");
                        toastrErrorAlert(execuStatus.fail);
                        alert("This Zone Already Exist");
                    }
                    enable("#saveButton");
            }).fail(function (err) {
                    console.log(err);
                    enable("#saveButton");
                });
            }
        });



    
        //validationform
        function ValidationForm() {
            //debugger;
            Isvalid = true;
            $('.error').addClass("hide");
            //if ($.trim(ddlorgname.val()) == 0) {
            //    $('.required-OrganizationName').removeClass("hide");
            //    Isvalid = false;
            //}
            if ($.trim(ddlZoneName.val()) == 0) {
                $('.required-ZoneName').removeClass("hide");
                Isvalid = false;
            }

            return Isvalid

        }
    </script>
}